@charset "UTF-8";

/* stting */
@import url(./src/css/base/reset.css);

/* 작업 css */
@import url(./src/css/pages/header.css);
@import url(./src/css/pages/intro.css);
@import url(./src/css/pages/project.css);
@import url(./src/css/pages/work.css);
@import url(./src/css/pages/uxui.css);
@import url(./src/css/pages/about.css);
@import url(./src/css/pages/footer.css);

/* font, color's */
@import url(./src/css/base/vars.css);

/* ------------------------------------------------------------------ */

body {
  background: var(--mainBg-color);
  color: var(--black200_txt);
  /* cursor: none; */
}
/* a{cursor:none;} */
/* -------------------- */
/* #custom_cursor{
  padding:calc( 45px / 2);
  border-radius: 50%;
  background: #fff;
  mix-blend-mode: difference;
  pointer-events: none;

  position: fixed;
  left:500px;
  top:300px;
  transform: translate(-50%, -50%);
  z-index: 99999;
  transition: padding 0.3s;
}
#custom_cursor.on{
  padding:calc(100px / 2);
}
#custom_cursor.on span{
  height: 12px;
  transform: translateY(-30px);
}
#custom_cursor span::before,
#custom_cursor span::after{
  content: "";
  display: block;
  width: 5px;
  height:10px;
  position: absolute;
  top:50%;
  margin-top:-17px;
  background: #000;
  border-radius: 999px;
  mix-blend-mode:hard-light;
}#custom_cursor span{
  display: block;
  width:17px;
  height:5px;
  border-radius: 0 0 99px 99px;
  background: #000;
  position: absolute;
  bottom:50%;
  left:0;
  right:0;
  margin: 0 auto;
  margin-bottom:-7px;
  transition: transform 0.3s;
}
#custom_cursor span::before{
  left:50%;
  margin-left: -10px;
}
#custom_cursor span::after{
  right:50%;
  margin-right: -10px;
} */


.line {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.h-line {
  z-index: 999;
  position: absolute;
  width: 1px;
  height: 100%;
  background: var(--black600);
}
.h-line1 {
  left: 5%;
  z-index: 999;
}
.h-line2 {
  left: 27.5%;
}
.h-line3 {
  left: 50%;
}
.h-line4 {
  right: 27.5%;
}
.h-line5 {
  right: 5%;
  z-index: 999;
}
/* -------------------- */

section {
  width: 100%;
  height: 100vh;
  /* padding: 10rem 5% 0; */
}

.up_btn{
  display: none;
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  background: var(--main-color);
  cursor: pointer;
  
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  
  /* display: flex; */
  align-items: center;
  justify-content: center;
  
  font-size: 2rem;
  font-weight: 900;
}
.up_btn:hover{
  box-shadow: 0px 5px 10px rgba(0, 0, 255, .2);
  color: var(--white);
}
