@charset "UTF-8";
@import url(./src/css/base/public/reset.css);
@import url(./src/css/base/public/vars.css);
@import url(./src/css/pages/intro.css);
@import url(./src/css/pages/header.css);
@import url(./src/css/pages/about.css);
@import url(./src/css/pages/project.css);
@import url(./src/css/pages/work.css);
@import url(./src/css/pages/footer.css);
/* @import 'bulma/css/bulma.css'; */

@font-face {
  font-family: "Gothic_Goding";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Gothic_Goding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ========================== */
/* 공통 스타일만*/
/* ========================== */
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;

  cursor: none;
  scrollbar-width: 1px;
  position: relative;
  font-size: 10px;
  font-family: var(--mainKor-font);
  line-height: 1.2;
  color: var(--black200_txt);
  transition: background-color 1s ease-in-out, opacity 0.5s ease-in-out;
  background: #111;
  letter-spacing: -1px;
  /* 하..왜 여긴 또 이렇게 색을 줘야 하는지 이해가 안가네. 암튼 없으면 흰색으로 되니 푸터컬러랑 맞출것 */
}
*,
*::before,
*::after {
  box-sizing: border-box; /*  크기 계산에 border 포함 */
}
main {
  position: relative;
  overflow-x: hidden;
  /* background: var(--mainBg-color); */
  border-radius: 0 0 60px 60px;
}
main .bg-texture {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: url("./src/img/bg-paper-texture.jpg") center/cover no-repeat;
  mix-blend-mode: multiply;
  opacity: 0.5;
  z-index: 1;
  pointer-events: none;
}
a {
  cursor: none;
}
/* -------------------------------------------------------------------------------- */
/* section -------------------- */
section {
  width: 100%;
}
/* -------------------------------------------------------------------------------- */
/*  sect_title ---------------------- */
.sect_title {
  gap: 30px;
  position: relative;
  align-items: center;
  color: var(--black800);
}
.sect_title h2 {
  width: 100%;
  grid-column: 2;
  line-height: 1;
  text-transform: uppercase;
  font-family: var(--subEng-font);
  font-weight: 900;
}
@media only screen and (max-width: 700px) {
  .sect_title {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }
  .sect_title h2 {
    font-size: 8vw;
  }
}
@media only screen and (min-width: 701px) {
  .sect_title h2 {
    font-size: 4rem;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1000px) {
  .sect_title h2 {
    font-size: 6rem;
    font-weight: 900;
  }
}

/* -------------------------------------------------------------------------------- */
/* 위로가기 버튼 ---------------------- */
.up_btn {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  background: var(--main-color);
  cursor: pointer;

  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;

  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: 900;
}
.up_btn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 255, 0.2);
  color: var(--white);
}
/* -------------------------------------------
/*  */

nav.header__mobile.on ul li a.on {
  color: var(--white);
}

/* -------------------------------------------------------------------------------- */
/* cursor -------------------- */
#custom_cursor {
  padding: 5px;
  border-radius: 50%;
  /* background: rgba(255, 255, 255, .6); */
  /* mix-blend-mode: difference; */
  background: var(--main-color);
  /* filter: blur(5px); */
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 99999;
  transition: padding 0.3s;
}

#custom_cursor.on {
  padding: calc(100px / 2);
}
#custom_cursor.on span {
  height: 12px;
  transform: translateY(-30px);
}

#custom_cursor.dragging {
  background: rgba(255, 0, 0, 0.5); /* 드래그 중 빨간색 반투명 */
  transform: scale(1.2); /* 크기를 키움 */
}
@media screen and (max-width: 700px) {
  body {
    cursor: none;
  }
}
