@charset "UTF-8";

/* stting */
@import url(./src/css/base/reset.css);

/* 작업 css */
@import url(./src/css/pages/header.css);
@import url(./src/css/pages/intro.css);
@import url(./src/css/pages/project.css);
@import url(./src/css/pages/work.css);
@import url(./src/css/pages/uxui.css);
@import url(./src/css/pages/about.css);
@import url(./src/css/pages/footer.css);

/* font, color's */
@import url(./src/css/base/vars.css);

/* ------------------------------------------------------------------ */

body {
  color: var(--black200_txt);
}
.line {
  position: fixed;
  width: 100%;
  height: 100%;
  .h-line {
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--black600);
    &.h-line1 {
      left: 5%;
    }
    &.h-line2 {
      left: 27.5%;
    }
    &.h-line3 {
      left: 50%;
    }
    &.h-line4 {
      right: 27.5%;
    }
    &.h-line5 {
      right: 5%;
    }
  }
}
section {
  width: 100%;
  height: 100vh;
  /* padding: 10rem 5% 0; */
}
