#about .sect_inner {
  margin: auto;
}
#about .sect_inner .sect_title {
  padding: 0;
}
#about .sect_inner .sect_title .po_ab {
  padding: 0;
}
#about .info .keyword {
  font-weight: 600;
}
#about .info .text {
  border-top: 1px solid var(--black600);
  border-bottom: 1px solid var(--black600);
  line-height: 1.5;
}
#about .info .text .text_scrollTrigger {
  word-break: keep-all;
  color: var(--black100);
}
#about .info .text .text_scrollTrigger strong {
  font-weight: 600;
}
#about .info .mini_sticker {
  display: inline-block;
  overflow: visible;
  border: 1px solid #f00;
  color: transparent;
}
#about .skils_wrap {
  display: flex;
}
#about .skils_wrap .design,
#about .skils_wrap .dev {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#about .skils_wrap .skil {
  box-sizing: border-box;
  border: 1px solid var(--black600);
  font-weight: 600;
}
#about .skil_name {
  color: var(--black600);
}
#about .skil_list {
  display: flex;
  gap: 10px;
}
#about .skil_list .skil_item {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/img/adobe_logo.jpg);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 700px) {
  #about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about .info .keyword {
    line-height: 1.3;
    text-align: center;
    padding-bottom: 20px;
    font-size: 28px;
  }
  #about .info .text {
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
  }
  #about .info .text .text_scrollTrigger:first-child {
    padding-bottom: 20px;
  }
  #about .skil {
    width: 50px;
    height: 50px;
    border-radius: 11px;
    font-size: 16px;
  }
  #about .skil_list .skil_item {
    width: 50px;
    height: 50px;
    background-size: 176px 176px;
    background-position: -512px -512px;
    border-radius: 11px;
  }
  #about .skil_list .skil_item[data-hover=illustrator] {
    background-position: -10px -9px;
  }
  #about .skil_list .skil_item[data-hover=photoshop] {
    background-position: -64px -9px;
  }
  #about .skil_list .skil_item[data-hover=indesign] {
    background-position: -118px -9px;
  }
  #about .skil_list .skil_item[data-hover=figma] {
    background-position: -64px -117px;
  }
  #about .skil_list .skil_item[data-hover=HTML] {
    background-position: -64px -63px;
  }
  #about .skil_list .skil_item[data-hover=CSS] {
    background-position: -118px -63px;
  }
  #about .skil_list .skil_item[data-hover=JAVAscript] {
    background-position: -10px -117px;
  }
}
@media only screen and (min-width: 701px) {
  #about .keyword {
    font-size: 4rem;
    line-height: 1.3;
    margin-bottom: 40px;
  }
  #about .keyword br {
    display: none;
  }
  #about .text {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #about .text .text_scrollTrigger {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.6;
  }
  #about .text .text_scrollTrigger br {
    display: none;
  }
  #about .text .text_scrollTrigger:not(:first-child) {
    margin-top: 1rem;
  }
  #about .skils_wrap {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 2rem;
    width: 100%;
  }
  #about .skils_wrap .design,
  #about .skils_wrap .dev {
    white-space: nowrap;
  }
  #about .skils_wrap .design .skil_name {
    padding-right: 10px;
  }
  #about .skils_wrap .dev .skil_name {
    padding-right: 10px;
  }
  #about .skils_wrap .design {
    padding-right: 20px;
    margin-right: 20px;
    position: relative;
  }
  #about .skils_wrap .design:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    border-right: 1px solid var(--black200_txt);
    width: 1px;
    height: 20px;
  }
  #about .skil {
    width: 64px;
    height: 64px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  #about .skils {
    display: flex;
    justify-content: center;
    padding-left: 4vw;
  }
  #about .skil_name {
    display: none;
  }
  #about .skil_list .skil_item {
    width: 64px;
    height: 64px;
    background-size: 231px 231px;
    background-position: -512px -512px;
    border-radius: 20px;
  }
  #about .skil_list .skil_item[data-hover=illustrator] {
    background-position: -12px -12px;
  }
  #about .skil_list .skil_item[data-hover=photoshop] {
    background-position: -83px -12px;
  }
  #about .skil_list .skil_item[data-hover=indesign] {
    background-position: -154px -12px;
  }
  #about .skil_list .skil_item[data-hover=figma] {
    background-position: -83px -153px;
  }
  #about .skil_list .skil_item[data-hover=HTML] {
    background-position: -83px -82px;
  }
  #about .skil_list .skil_item[data-hover=CSS] {
    background-position: -154px -82px;
  }
  #about .skil_list .skil_item[data-hover=JAVAscript] {
    background-position: -12px -152px;
  }
}
@media only screen and (min-width: 900px) {
  #about .skils_wrap .design .skil_name {
    padding-right: 20px;
  }
  #about .skils_wrap .dev .skil_name {
    padding-right: 20px;
  }
  #about .skils_wrap .design {
    padding-right: 40px;
    margin-right: 40px;
  }
  #about .skil_name {
    display: inline-block;
  }
}
@media only screen and (min-width: 1000px) {
  #about .skils_wrap .design .skil_name {
    padding-right: 40px;
  }
  #about .skils_wrap .dev .skil_name {
    padding-right: 40px;
  }
  #about .skil {
    width: 78px;
    height: 78px;
  }
  #about .skils {
    padding-left: 5vw;
  }
  #about .skil_list .skil_item {
    width: 78px;
    height: 78px;
    background-size: 280px 280px;
    background-position: -512px -512px;
    border-radius: 10px;
  }
  #about .skil_list .skil_item[data-hover=illustrator] {
    background-position: -15px -14px;
  }
  #about .skil_list .skil_item[data-hover=photoshop] {
    background-position: -101px -14px;
  }
  #about .skil_list .skil_item[data-hover=indesign] {
    background-position: -187px -14px;
  }
  #about .skil_list .skil_item[data-hover=figma] {
    background-position: -101px -185px;
  }
  #about .skil_list .skil_item[data-hover=HTML] {
    background-position: -101px -99px;
  }
  #about .skil_list .skil_item[data-hover=CSS] {
    background-position: -187px -99px;
  }
  #about .skil_list .skil_item[data-hover=JAVAscript] {
    background-position: -15px -185px;
  }
}
@media only screen and (min-width: 1400px) {
  #about {
    border-radius: 20px;
  }
  #about .sect_inner .keyword {
    font-size: 4rem;
    color: var(--black200_txt);
    opacity: 0.9;
    line-height: 1.3;
  }
}/*# sourceMappingURL=about.css.map */