@charset "UTF-8";
#gnb {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 5px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
}
#gnb .gnb_inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#gnb .gnb_inner .gnb_logo {
  font-family: "GmarketSansMedium";
  padding: 10px 20px;
  color: #666;
}
#gnb .gnb_inner .gnb .nav_list {
  text-transform: uppercase;
  color: var(--black600);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#gnb .gnb_inner .gnb .nav_list .nav_item .nav_link {
  position: relative;
  transform-origin: right;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  color: #666;
  transition: color 0.3s;
}
#gnb .gnb_inner .gnb .nav_list .nav_item .nav_link:hover {
  color: #999;
}
#gnb .gnb_inner .gnb .nav_list .nav_item .nav_link.on {
  background: var(--main-color);
  color: #fff;
  font-weight: 600;
}

@media only screen and (max-width: 700px) {
  #gnb {
    bottom: 20px;
    z-index: 1000;
    width: auto;
    padding: 10px;
    background: transparent;
    border: 1px solid var(--black600);
    transition: background 0.3s;
  }
  #gnb:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  #gnb .gnb_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    border-radius: 20px;
    color: var(--black600);
    text-transform: uppercase;
  }
  #gnb .gnb_inner .gnb_logo,
  #gnb .gnb_inner .gnb {
    display: none;
  }
  #gnb .gnb_inner .gnb_mobile_var {
    display: block;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  #gnb .gnb_inner .gnb_mobile_var .mobile_menuBar span {
    font-size: 14px;
  }
  /* 모바일 메뉴 */
  .gnb_mobile {
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 1001;
    width: 100%;
    padding: 10px;
    text-align: center;
    transform: translateX(-50%);
    transition: 0.5s ease;
  }
  .gnb_mobile.on {
    top: 0;
  }
  .gnb_mobile .gnb_mobile_inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    padding: 30px;
    border-radius: 20px;
    background: var(--main-color);
    /* 모바일용 메뉴 햄버거 */
  }
  .gnb_mobile .gnb_mobile_inner .gnb_logo_mobile {
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
  }
  .gnb_mobile .gnb_mobile_inner .gnb_logo_mobile a {
    display: inline-block;
    font-size: 4vw;
  }
  .gnb_mobile .nav_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    color: var(--white);
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
  }
  .gnb_mobile .nav_list .nav_link {
    display: inline-block;
    font-size: 20px;
    position: relative;
    opacity: 1;
    transition: opacity 0.5s ease, color 0.5s ease; /* opacity와 color에 대해 부드러운 전환 효과 추가 */
  }
  .gnb_mobile .nav_list .nav_link:hover {
    color: var(--white);
    opacity: 1;
  }
  .gnb_mobile .nav_list .nav_link:hover::after {
    width: 100%;
    left: 0;
  }
  .gnb_mobile .nav_list .nav_link::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--white);
    position: absolute;
    right: 0;
    bottom: -2px;
    transition: width 0.5s ease; /* width에 대한 전환 효과 */
  }
  .gnb_mobile .close {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  .gnb_mobile .close:hover .close_bg_blend {
    opacity: 0.5;
  }
  .gnb_mobile .close .close_icon {
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 10;
  }
  .gnb_mobile .close .close_icon::before, .gnb_mobile .close .close_icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background: var(--white);
    transform-origin: center;
  }
  .gnb_mobile .close .close_icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .gnb_mobile .close .close_icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .gnb_mobile .close .close_bg_blend {
    width: 100%;
    height: 100%;
    background: var(--main-color);
    mix-blend-mode: multiply;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
  }
  /* 모바일 메뉴bg의 반투명 */
  .gnb_mobile_bg {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
  }
  .gnb_mobile_bg.on {
    opacity: 1;
    pointer-events: visible; /* on일 땐 배경이 클릭되면 안되니까!! */
  }
}
@media only screen and (min-width: 701px) {
  #gnb .gnb_inner .gnb_logo {
    font-size: 2rem;
  }
  #gnb .gnb_inner .gnb {
    font-size: 1.6rem;
  }
  #gnb .gnb_inner .gnb_mobile {
    display: none;
  }
  .gnb_mobile {
    display: none;
  }
}/*# sourceMappingURL=header.css.map */