@import url(/src/css/base/public/font.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--main-color);
}

:root {
  --main-color: #0073ff;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  line-height: 1.4;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
}
html button,
body button {
  background: none;
  border: none;
}
html a,
html button,
body a,
body button {
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .container {
    padding: 20px 10px;
  }
}
@media only screen and (min-width: 701px) {
  .container {
    padding: 40px;
    border: 1px solid #000;
  }
}
.intro {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
}

h2 {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#about .pf_title_wrap {
  display: grid;
  font-weight: bold;
}
#about .pf {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  margin: auto;
  text-transform: uppercase;
}
#about .labels,
#about .values,
#about .skills {
  display: grid;
  border-bottom: 1px solid var(--main-color);
}
#about .labels {
  border-top: 1px solid var(--main-color);
}
#about .labels,
#about #skills-label {
  text-transform: uppercase;
}
#about .values,
#about .category {
  font-weight: 600;
}
#about .values span,
#about .category span {
  font-weight: 300;
  text-transform: uppercase;
}
#about .underline:hover {
  text-decoration: underline;
}

#project ul .project_itme {
  display: flex;
  overflow: hidden;
  transition: width 0.5s ease;
}
#project ul .project_itme button {
  position: relative;
  display: flex;
}
#project ul .img_box {
  vertical-align: top;
  width: 100%;
  flex-shrink: 0;
  transition: width 0.5s ease;
}
#project ul .img_box img {
  width: 100%;
  padding: 0;
}
#project ul .img_box .project_title {
  text-align: left;
  font-weight: 500;
}

#work .work_header,
#work .work_item {
  display: grid;
}
#work .work_header .icon,
#work .work_item .icon {
  text-align: right;
}
#work .work_header {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  text-transform: uppercase;
}
#work #workList li {
  padding: 8px;
}
#work #workList li:hover {
  background: rgba(0, 115, 255, 0.1);
  font-weight: 500;
}
#work #workList span {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  #about .pf_title_wrap {
    gap: 8px;
    margin-bottom: 16px;
  }
  #about .pf_title {
    font-size: 24px;
  }
  #about .pf {
    font-size: 15px;
  }
  #about .labels {
    display: none;
  }
  #about .values {
    border-top: 1px solid var(--main-color);
  }
  #about .values {
    grid-template-columns: repeat(2, 1fr);
    gap: 1px 5px;
    font-size: 16px;
    position: relative;
  }
  #about .values::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 1px;
    background: var(--main-color);
  }
  #about .values li {
    padding: 10px 0;
  }
  #about .skills {
    gap: 5px;
    font-size: 16px;
    padding: 10px 0;
  }
  #about .skills .category span {
    display: none;
  }
  #project {
    margin-top: 210px;
    margin-bottom: 100px;
  }
  #project ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
  #project ul .project_itme {
    display: flex;
    width: 100%;
  }
  #project ul .project_itme button {
    position: relative;
    display: flex;
    gap: 5px;
    width: 100%;
  }
  #project ul .project_title {
    font-size: 20px;
    margin-top: 2px;
  }
  #work .work_header,
  #work .work_item {
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    font-size: 15px;
  }
  #work .work_header .desc,
  #work .work_item .desc {
    display: none;
  }
  #work .work_header {
    padding: 8px 6px;
  }
  #work #workList li {
    padding: 6px;
  }
}
@media only screen and (min-width: 701px) {
  #about .pf_title_wrap {
    grid-template-columns: 3fr 1fr;
    gap: 5px;
    margin-bottom: 20px;
  }
  #about .pf_title {
    font-size: 32px;
  }
  #about .pf {
    font-size: 16px;
    gap: 4px;
  }
  #about .labels,
  #about .values,
  #about .skills {
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    font-size: 16px;
    padding: 10px 0;
  }
  #project {
    margin-top: 210px;
    margin-bottom: 100px;
  }
  #project ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 5px;
    flex-wrap: wrap;
    width: 100%;
  }
  #project ul .project_itme .project_title {
    margin-top: 4px;
    font-size: 20px;
    font-weight: 500;
  }
  #project ul .project_itme button {
    position: relative;
    display: flex;
    gap: 5px;
    width: 100%;
  }
  #work .work_header,
  #work .work_item {
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    font-size: 16px;
  }
  #work .work_header {
    padding: 10px 6px;
  }
  #work #workList li {
    padding: 8px;
  }
}
@media only screen and (min-width: 900px) {
  #about .pf_title_wrap {
    grid-template-columns: 3fr 1fr;
    gap: 5px;
    margin-bottom: 20px;
  }
  #about .pf_title {
    font-size: 42px;
  }
  #about .pf_title br {
    display: none;
  }
  #project {
    margin-top: 270px;
    margin-bottom: 120px;
  }
  #project ul {
    grid-template-columns: repeat(3, 1fr);
  }
  #project ul .project_title {
    margin-top: 4px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  #project {
    margin-top: 320px;
  }
  #project ul {
    grid-template-columns: repeat(4, 1fr);
  }
  #project ul .project_itme button {
    gap: 5px;
  }
}/*# sourceMappingURL=index2.css.map */