@charset "UTF-8";
#intro {
  position: relative;
}
#intro .home__down {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%; /* 도형 형태를 유지하려면 필요 */
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 1px 1px 5px rgba(0, 0, 0, 0.1); /* 안쪽 블러 효과 */
  position: absolute;
  left: 50%;
  bottom: 9%;
  transform: translateX(-50%);
  z-index: 999;
  backdrop-filter: blur(10px);
}
#intro .sect_inner {
  height: 100%;
  margin: auto;
  overflow: visible;
}
#intro .sect_inner .blend {
  display: none;
  pointer-events: none;
  mix-blend-mode: color-burn;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
#intro .sect_inner .blend img {
  width: 100%;
  height: 100%;
}
#intro .sect_inner .stickers {
  position: relative;
  width: 100%;
  height: 64%;
  z-index: 10;
}
#intro .sect_inner .stickers .sticker {
  position: absolute;
  left: 48%;
  transform-origin: center center;
  border: 2px solid transparent;
  transition: 0.05s;
  cursor: none;
}
#intro .sect_inner .stickers .sticker:hover {
  border: 2px solid var(--main-color);
}
#intro .sect_inner .stickers .sticker:hover.black1 .vertex, #intro .sect_inner .stickers .sticker:hover.black2 .vertex, #intro .sect_inner .stickers .sticker:hover.black3 .vertex, #intro .sect_inner .stickers .sticker:hover.blue1 .vertex, #intro .sect_inner .stickers .sticker:hover.blue2 .vertex, #intro .sect_inner .stickers .sticker:hover.blue3 .vertex {
  opacity: 1;
}
#intro .sect_inner .stickers .sticker:hover.long1 .vertex, #intro .sect_inner .stickers .sticker:hover.long2 .vertex, #intro .sect_inner .stickers .sticker:hover.long3 .vertex {
  opacity: 1;
}
#intro .sect_inner .stickers .sticker.black1 .vertex, #intro .sect_inner .stickers .sticker.black2 .vertex, #intro .sect_inner .stickers .sticker.black3 .vertex, #intro .sect_inner .stickers .sticker.blue1 .vertex, #intro .sect_inner .stickers .sticker.blue2 .vertex, #intro .sect_inner .stickers .sticker.blue3 .vertex {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.05s;
}
#intro .sect_inner .stickers .sticker.black1 .vertex .t::before, #intro .sect_inner .stickers .sticker.black1 .vertex .t::after, #intro .sect_inner .stickers .sticker.black1 .vertex .b::before, #intro .sect_inner .stickers .sticker.black1 .vertex .b::after, #intro .sect_inner .stickers .sticker.black2 .vertex .t::before, #intro .sect_inner .stickers .sticker.black2 .vertex .t::after, #intro .sect_inner .stickers .sticker.black2 .vertex .b::before, #intro .sect_inner .stickers .sticker.black2 .vertex .b::after, #intro .sect_inner .stickers .sticker.black3 .vertex .t::before, #intro .sect_inner .stickers .sticker.black3 .vertex .t::after, #intro .sect_inner .stickers .sticker.black3 .vertex .b::before, #intro .sect_inner .stickers .sticker.black3 .vertex .b::after, #intro .sect_inner .stickers .sticker.blue1 .vertex .t::before, #intro .sect_inner .stickers .sticker.blue1 .vertex .t::after, #intro .sect_inner .stickers .sticker.blue1 .vertex .b::before, #intro .sect_inner .stickers .sticker.blue1 .vertex .b::after, #intro .sect_inner .stickers .sticker.blue2 .vertex .t::before, #intro .sect_inner .stickers .sticker.blue2 .vertex .t::after, #intro .sect_inner .stickers .sticker.blue2 .vertex .b::before, #intro .sect_inner .stickers .sticker.blue2 .vertex .b::after, #intro .sect_inner .stickers .sticker.blue3 .vertex .t::before, #intro .sect_inner .stickers .sticker.blue3 .vertex .t::after, #intro .sect_inner .stickers .sticker.blue3 .vertex .b::before, #intro .sect_inner .stickers .sticker.blue3 .vertex .b::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  background: #fff;
  border: 2px solid var(--main-color);
}
#intro .sect_inner .stickers .sticker.black1 .vertex .t::before, #intro .sect_inner .stickers .sticker.black2 .vertex .t::before, #intro .sect_inner .stickers .sticker.black3 .vertex .t::before, #intro .sect_inner .stickers .sticker.blue1 .vertex .t::before, #intro .sect_inner .stickers .sticker.blue2 .vertex .t::before, #intro .sect_inner .stickers .sticker.blue3 .vertex .t::before {
  top: -7px;
  left: -7px;
}
#intro .sect_inner .stickers .sticker.black1 .vertex .t::after, #intro .sect_inner .stickers .sticker.black2 .vertex .t::after, #intro .sect_inner .stickers .sticker.black3 .vertex .t::after, #intro .sect_inner .stickers .sticker.blue1 .vertex .t::after, #intro .sect_inner .stickers .sticker.blue2 .vertex .t::after, #intro .sect_inner .stickers .sticker.blue3 .vertex .t::after {
  top: -7px;
  right: -7px;
}
#intro .sect_inner .stickers .sticker.black1 .vertex .b::before, #intro .sect_inner .stickers .sticker.black2 .vertex .b::before, #intro .sect_inner .stickers .sticker.black3 .vertex .b::before, #intro .sect_inner .stickers .sticker.blue1 .vertex .b::before, #intro .sect_inner .stickers .sticker.blue2 .vertex .b::before, #intro .sect_inner .stickers .sticker.blue3 .vertex .b::before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: -7px;
  left: -7px;
  background: #fff;
  border: 2px solid var(--main-color);
}
#intro .sect_inner .stickers .sticker.black1 .vertex .b::after, #intro .sect_inner .stickers .sticker.black2 .vertex .b::after, #intro .sect_inner .stickers .sticker.black3 .vertex .b::after, #intro .sect_inner .stickers .sticker.blue1 .vertex .b::after, #intro .sect_inner .stickers .sticker.blue2 .vertex .b::after, #intro .sect_inner .stickers .sticker.blue3 .vertex .b::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: -7px;
  right: -7px;
  background: #fff;
  border: 2px solid var(--main-color);
}
#intro .sect_inner .stickers .sticker.black1 .sticker_wrap, #intro .sect_inner .stickers .sticker.black2 .sticker_wrap, #intro .sect_inner .stickers .sticker.black3 .sticker_wrap, #intro .sect_inner .stickers .sticker.blue1 .sticker_wrap, #intro .sect_inner .stickers .sticker.blue2 .sticker_wrap, #intro .sect_inner .stickers .sticker.blue3 .sticker_wrap {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background: var(--main-color);
}
#intro .sect_inner .stickers .sticker.black1 .sticker_wrap .img_blend, #intro .sect_inner .stickers .sticker.black2 .sticker_wrap .img_blend, #intro .sect_inner .stickers .sticker.black3 .sticker_wrap .img_blend, #intro .sect_inner .stickers .sticker.blue1 .sticker_wrap .img_blend, #intro .sect_inner .stickers .sticker.blue2 .sticker_wrap .img_blend, #intro .sect_inner .stickers .sticker.blue3 .sticker_wrap .img_blend {
  width: 200%;
  position: absolute;
  right: -40%;
  top: 0;
  mix-blend-mode: color-burn;
}
#intro .sect_inner .stickers .sticker.black1 .sticker_wrap.black1, #intro .sect_inner .stickers .sticker.black2 .sticker_wrap.black1, #intro .sect_inner .stickers .sticker.black3 .sticker_wrap.black1, #intro .sect_inner .stickers .sticker.blue1 .sticker_wrap.black1, #intro .sect_inner .stickers .sticker.blue2 .sticker_wrap.black1, #intro .sect_inner .stickers .sticker.blue3 .sticker_wrap.black1 {
  z-index: 10;
  background: var(--main-color);
  border: 1px solid #000;
}
#intro .sect_inner .stickers .sticker.black1 .sticker_wrap.black1 .img_blend, #intro .sect_inner .stickers .sticker.black2 .sticker_wrap.black1 .img_blend, #intro .sect_inner .stickers .sticker.black3 .sticker_wrap.black1 .img_blend, #intro .sect_inner .stickers .sticker.blue1 .sticker_wrap.black1 .img_blend, #intro .sect_inner .stickers .sticker.blue2 .sticker_wrap.black1 .img_blend, #intro .sect_inner .stickers .sticker.blue3 .sticker_wrap.black1 .img_blend {
  width: 120%;
  position: absolute;
  left: -4%;
  top: 28%;
  transform: rotate(62deg);
}
#intro .sect_inner .stickers .sticker.black1 .sticker_wrap.black2, #intro .sect_inner .stickers .sticker.black2 .sticker_wrap.black2, #intro .sect_inner .stickers .sticker.black3 .sticker_wrap.black2, #intro .sect_inner .stickers .sticker.blue1 .sticker_wrap.black2, #intro .sect_inner .stickers .sticker.blue2 .sticker_wrap.black2, #intro .sect_inner .stickers .sticker.blue3 .sticker_wrap.black2 {
  background: var(--main-color);
}
#intro .sect_inner .stickers .sticker.black1 .sticker_wrap.black2 .img_blend, #intro .sect_inner .stickers .sticker.black2 .sticker_wrap.black2 .img_blend, #intro .sect_inner .stickers .sticker.black3 .sticker_wrap.black2 .img_blend, #intro .sect_inner .stickers .sticker.blue1 .sticker_wrap.black2 .img_blend, #intro .sect_inner .stickers .sticker.blue2 .sticker_wrap.black2 .img_blend, #intro .sect_inner .stickers .sticker.blue3 .sticker_wrap.black2 .img_blend {
  width: 120%;
  position: absolute;
  left: -4%;
  top: 28%;
  transform: rotate(62deg);
}
#intro .sect_inner .stickers .sticker.black1 .sticker_wrap.black3, #intro .sect_inner .stickers .sticker.black2 .sticker_wrap.black3, #intro .sect_inner .stickers .sticker.black3 .sticker_wrap.black3, #intro .sect_inner .stickers .sticker.blue1 .sticker_wrap.black3, #intro .sect_inner .stickers .sticker.blue2 .sticker_wrap.black3, #intro .sect_inner .stickers .sticker.blue3 .sticker_wrap.black3 {
  transform: rotate(45deg);
  background: var(--main-color);
}
#intro .sect_inner .stickers .sticker.black1 .sticker_wrap.blue1, #intro .sect_inner .stickers .sticker.black2 .sticker_wrap.blue1, #intro .sect_inner .stickers .sticker.black3 .sticker_wrap.blue1, #intro .sect_inner .stickers .sticker.blue1 .sticker_wrap.blue1, #intro .sect_inner .stickers .sticker.blue2 .sticker_wrap.blue1, #intro .sect_inner .stickers .sticker.blue3 .sticker_wrap.blue1 {
  background: #ddd;
}
#intro .sect_inner .stickers .sticker.black1 .sticker_wrap.blue1 .img_blend, #intro .sect_inner .stickers .sticker.black2 .sticker_wrap.blue1 .img_blend, #intro .sect_inner .stickers .sticker.black3 .sticker_wrap.blue1 .img_blend, #intro .sect_inner .stickers .sticker.blue1 .sticker_wrap.blue1 .img_blend, #intro .sect_inner .stickers .sticker.blue2 .sticker_wrap.blue1 .img_blend, #intro .sect_inner .stickers .sticker.blue3 .sticker_wrap.blue1 .img_blend {
  width: 200%;
  position: absolute;
  left: -76%;
  top: -22%;
  transform: rotate(140deg);
}
#intro .sect_inner .stickers .sticker.black1 .sticker_wrap.blue2, #intro .sect_inner .stickers .sticker.black2 .sticker_wrap.blue2, #intro .sect_inner .stickers .sticker.black3 .sticker_wrap.blue2, #intro .sect_inner .stickers .sticker.blue1 .sticker_wrap.blue2, #intro .sect_inner .stickers .sticker.blue2 .sticker_wrap.blue2, #intro .sect_inner .stickers .sticker.blue3 .sticker_wrap.blue2 {
  background: #ddd;
}
#intro .sect_inner .stickers .sticker.black1 .sticker_wrap.blue2 .img_blend, #intro .sect_inner .stickers .sticker.black2 .sticker_wrap.blue2 .img_blend, #intro .sect_inner .stickers .sticker.black3 .sticker_wrap.blue2 .img_blend, #intro .sect_inner .stickers .sticker.blue1 .sticker_wrap.blue2 .img_blend, #intro .sect_inner .stickers .sticker.blue2 .sticker_wrap.blue2 .img_blend, #intro .sect_inner .stickers .sticker.blue3 .sticker_wrap.blue2 .img_blend {
  width: 120%;
  position: absolute;
  left: -4%;
  top: 28%;
  transform: rotate(62deg);
}
#intro .sect_inner .stickers .sticker.black1 .sticker_wrap.blue3, #intro .sect_inner .stickers .sticker.black2 .sticker_wrap.blue3, #intro .sect_inner .stickers .sticker.black3 .sticker_wrap.blue3, #intro .sect_inner .stickers .sticker.blue1 .sticker_wrap.blue3, #intro .sect_inner .stickers .sticker.blue2 .sticker_wrap.blue3, #intro .sect_inner .stickers .sticker.blue3 .sticker_wrap.blue3 {
  background: #ddd;
}
#intro .sect_inner .stickers .sticker.black1 .sticker_wrap.blue3 .img_blend, #intro .sect_inner .stickers .sticker.black2 .sticker_wrap.blue3 .img_blend, #intro .sect_inner .stickers .sticker.black3 .sticker_wrap.blue3 .img_blend, #intro .sect_inner .stickers .sticker.blue1 .sticker_wrap.blue3 .img_blend, #intro .sect_inner .stickers .sticker.blue2 .sticker_wrap.blue3 .img_blend, #intro .sect_inner .stickers .sticker.blue3 .sticker_wrap.blue3 .img_blend {
  width: 160%;
  position: absolute;
}
#intro .sect_inner .stickers .sticker.long1 .vertex, #intro .sect_inner .stickers .sticker.long2 .vertex, #intro .sect_inner .stickers .sticker.long3 .vertex {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.05s;
}
#intro .sect_inner .stickers .sticker.long1 .vertex .t::before, #intro .sect_inner .stickers .sticker.long1 .vertex .t::after,
#intro .sect_inner .stickers .sticker.long1 .vertex .b::before,
#intro .sect_inner .stickers .sticker.long1 .vertex .b::after, #intro .sect_inner .stickers .sticker.long2 .vertex .t::before, #intro .sect_inner .stickers .sticker.long2 .vertex .t::after,
#intro .sect_inner .stickers .sticker.long2 .vertex .b::before,
#intro .sect_inner .stickers .sticker.long2 .vertex .b::after, #intro .sect_inner .stickers .sticker.long3 .vertex .t::before, #intro .sect_inner .stickers .sticker.long3 .vertex .t::after,
#intro .sect_inner .stickers .sticker.long3 .vertex .b::before,
#intro .sect_inner .stickers .sticker.long3 .vertex .b::after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  background: #fff;
  border: 2px solid var(--main-color);
}
#intro .sect_inner .stickers .sticker.long1 .vertex .t::before, #intro .sect_inner .stickers .sticker.long2 .vertex .t::before, #intro .sect_inner .stickers .sticker.long3 .vertex .t::before {
  top: -7px;
  left: -7px;
}
#intro .sect_inner .stickers .sticker.long1 .vertex .t::after, #intro .sect_inner .stickers .sticker.long2 .vertex .t::after, #intro .sect_inner .stickers .sticker.long3 .vertex .t::after {
  top: -7px;
  right: -7px;
}
#intro .sect_inner .stickers .sticker.long1 .vertex .b::before, #intro .sect_inner .stickers .sticker.long2 .vertex .b::before, #intro .sect_inner .stickers .sticker.long3 .vertex .b::before {
  bottom: -7px;
  left: -7px;
}
#intro .sect_inner .stickers .sticker.long1 .vertex .b::after, #intro .sect_inner .stickers .sticker.long2 .vertex .b::after, #intro .sect_inner .stickers .sticker.long3 .vertex .b::after {
  bottom: -7px;
  right: -7px;
}
#intro .sect_inner .stickers .sticker.long1 .sticker_wrap, #intro .sect_inner .stickers .sticker.long2 .sticker_wrap, #intro .sect_inner .stickers .sticker.long3 .sticker_wrap {
  margin: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  background: var(--main-color);
}
#intro .sect_inner .stickers .sticker.long1 .sticker_wrap .img_blend, #intro .sect_inner .stickers .sticker.long2 .sticker_wrap .img_blend, #intro .sect_inner .stickers .sticker.long3 .sticker_wrap .img_blend {
  position: absolute;
  mix-blend-mode: color-burn;
  width: 160%;
}
#intro .sect_inner .stickers .sticker.long1 .sticker_wrap .img_blend img, #intro .sect_inner .stickers .sticker.long2 .sticker_wrap .img_blend img, #intro .sect_inner .stickers .sticker.long3 .sticker_wrap .img_blend img {
  width: 100%;
}
#intro .sect_inner .stickers .sticker.long1 .sticker_wrap.long1 .img_blend, #intro .sect_inner .stickers .sticker.long2 .sticker_wrap.long1 .img_blend, #intro .sect_inner .stickers .sticker.long3 .sticker_wrap.long1 .img_blend {
  left: 0%;
  bottom: 0%;
}
#intro .sect_inner .stickers .sticker.long1 .sticker_wrap.long2 .img_blend, #intro .sect_inner .stickers .sticker.long2 .sticker_wrap.long2 .img_blend, #intro .sect_inner .stickers .sticker.long3 .sticker_wrap.long2 .img_blend {
  left: -8%;
  top: 7%;
}
#intro .sect_inner .stickers .sticker.long1 .sticker_wrap.long3 .img_blend, #intro .sect_inner .stickers .sticker.long2 .sticker_wrap.long3 .img_blend, #intro .sect_inner .stickers .sticker.long3 .sticker_wrap.long3 .img_blend {
  left: -13%;
  top: -23%;
}
#intro .sect_inner .in222 {
  display: none;
  width: 100%;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
#intro .sect_inner .intro_title {
  position: absolute;
  bottom: 24%;
  left: 50%;
  transform: translateX(-50%);
}
#intro .sect_inner .intro_title p.publisher {
  font-family: "Panchang-Bold";
  color: var(--main-color);
  text-transform: uppercase;
}
#intro .sect_inner .sticker-guide {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--black400);
  animation: blink 1.5s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 700px) {
  #intro {
    width: 100%;
    height: 100vh;
  }
  #intro .sect_inner {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  #intro .sect_inner .blend {
    display: none;
    pointer-events: none;
    background-image: url(../../img/sticker_texture_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    mix-blend-mode: color-burn;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    overflow: hidden;
  }
  #intro .sect_inner .blend img {
    width: 100%;
    height: 100%;
  }
  #intro .sect_inner .stickers {
    top: 70px;
    position: relative;
    z-index: 10;
  }
  #intro .sect_inner .stickers .sticker {
    left: 50%;
  }
  #intro .sect_inner .stickers .sticker img {
    width: 100%;
  }
  #intro .sect_inner .stickers .sticker.black1, #intro .sect_inner .stickers .sticker.black2, #intro .sect_inner .stickers .sticker.black3, #intro .sect_inner .stickers .sticker.blue1, #intro .sect_inner .stickers .sticker.blue2, #intro .sect_inner .stickers .sticker.blue3 {
    width: 40%;
    height: 30%;
  }
  #intro .sect_inner .stickers .sticker.black1 .sticker_wrap, #intro .sect_inner .stickers .sticker.black2 .sticker_wrap, #intro .sect_inner .stickers .sticker.black3 .sticker_wrap, #intro .sect_inner .stickers .sticker.blue1 .sticker_wrap, #intro .sect_inner .stickers .sticker.blue2 .sticker_wrap, #intro .sect_inner .stickers .sticker.blue3 .sticker_wrap {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
  #intro .sect_inner .stickers .sticker.black1 {
    transform: translate(-58%, 140%) rotate(-65deg);
  }
  #intro .sect_inner .stickers .sticker.black2 {
    transform: translate(-4%, -23%) rotate(35deg);
  }
  #intro .sect_inner .stickers .sticker.blue1 {
    transform: translate(-20%, 98%) rotate(15deg);
  }
  #intro .sect_inner .stickers .sticker.blue2 {
    transform: translate(-130%, 90%) rotate(-25deg);
  }
  #intro .sect_inner .stickers .sticker.blue3 {
    z-index: 10;
    transform: translate(10%, 200%) rotate(150deg);
  }
  #intro .sect_inner .stickers .sticker.long1, #intro .sect_inner .stickers .sticker.long2, #intro .sect_inner .stickers .sticker.long3 {
    width: 60%;
    height: 13.3rem;
  }
  #intro .sect_inner .stickers .sticker.long1 .sticker_wrap, #intro .sect_inner .stickers .sticker.long2 .sticker_wrap, #intro .sect_inner .stickers .sticker.long3 .sticker_wrap {
    border-radius: 20px;
    margin: 5%;
  }
  #intro .sect_inner .stickers .sticker.long1 {
    transform: translate(-118%, 186%) rotate(35deg);
  }
  #intro .sect_inner .stickers .sticker.long2 {
    transform: translate(-43%, 37%) rotate(-20deg);
  }
  #intro .sect_inner .stickers .sticker.long3 {
    transform: translate(38%, 100%) rotate(130deg);
  }
  #intro .sect_inner .intro_title {
    z-index: 99;
    position: absolute;
    bottom: 20%;
  }
  #intro .sect_inner .intro_title p.publisher {
    font-size: 10vw;
    font-weight: 700;
    font-family: "Panchang-Bold";
  }
  #intro .sect_inner .sticker-guide {
    font-size: 12px;
    bottom: 10%;
    color: var(--black400);
  }
}
@media only screen and (min-width: 701px) {
  main section {
    width: 1400px;
    margin: 0 auto;
    width: 100%;
  }
  main section#intro {
    height: 100vh;
  }
  main section#intro .blend {
    background-image: url(/src/img/sticker_texture_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120% 150%;
    mix-blend-mode: color-burn;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
  }
  main section#intro .sticker img {
    width: 100%;
  }
  main section#intro .sticker.black1, main section#intro .sticker.black2, main section#intro .sticker.black3, main section#intro .sticker.blue1, main section#intro .sticker.blue2, main section#intro .sticker.blue3 {
    width: 300px;
    height: 300px;
  }
  main section#intro .sticker.black1 {
    transform: translate(-73%, 100%) rotate(-65deg);
    z-index: 2;
  }
  main section#intro .sticker.black2 {
    transform: translate(-4%, 23%) rotate(35deg);
  }
  main section#intro .sticker.blue1 {
    transform: translate(88%, 8%) rotate(165deg);
  }
  main section#intro .sticker.blue2 {
    transform: translate(-140%, 32%) rotate(-35deg);
  }
  main section#intro .sticker.blue3 {
    transform: translate(25%, 76%) rotate(15deg);
  }
  main section#intro .sticker.long1, main section#intro .sticker.long2, main section#intro .sticker.long3 {
    width: 427px;
    height: 188px;
  }
  main section#intro .sticker.long1 .sticker_wrap, main section#intro .sticker.long2 .sticker_wrap, main section#intro .sticker.long3 .sticker_wrap {
    border-radius: 26px;
  }
  main section#intro .sticker.long1 {
    transform: translate(-137%, 146%) rotate(-153deg);
    z-index: 1;
  }
  main section#intro .sticker.long2 {
    transform: translate(-53%, 38%) rotate(-20deg);
  }
  main section#intro .sticker.long3 {
    transform: translate(67%, 150%) rotate(140deg);
  }
  main section#intro .intro_title p.publisher {
    font-size: 15rem;
  }
  main section#intro .sticker-guide {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 900px) {
  main section {
    width: 1400px;
    margin: auto;
    width: 100%;
  }
  main section#intro .title {
    font-size: 8rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  main section#intro .stickers {
    position: relative;
  }
  main section#intro .stickers .stick {
    position: absolute;
  }
  main section#intro .stickers .stick.blue {
    width: 500px;
    right: 0;
    top: 0;
  }
}/*# sourceMappingURL=intro.css.map */