.c-stacking_trigger {
  position: sticky;
  top: 0;
  z-index: 1;
}

.is-inview {
  z-index: 2;
}

#project {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--black200_txt);
}
#project .swiper {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
#project .swiper .swiper-slide {
  font-size: 18px;
  border: none;
  position: relative;
  opacity: 0;
  transition: 0.1s;
}
#project .swiper .swiper-slide.on {
  opacity: 1;
}
#project .swiper:hover .swiper_btn {
  opacity: 1;
  background: #000;
}
#project .swiper .title {
  font-weight: 600;
}
#project .swiper_btn {
  position: absolute;
  top: 46%;
  left: 0;
  width: 100px;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 1;
}
#project .swiper_btn .btn {
  width: 80px;
  height: 80px;
  padding: 14px;
  border: 1px dotted var(--black400);
  border-radius: 50%;
}
#project .swiper_btn .btn::after {
  display: none;
}
#project .swiper_btn .btn .next,
#project .swiper_btn .btn .prev {
  position: relative;
  width: 40px;
  height: 2px;
  background: var(--black400);
  border-radius: 20px;
}
#project .swiper_btn .btn .next::before, #project .swiper_btn .btn .next::after,
#project .swiper_btn .btn .prev::before,
#project .swiper_btn .btn .prev::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background: var(--black400);
  border-radius: 20px;
}
#project .swiper_btn .btn .next {
  transform-origin: right;
}
#project .swiper_btn .btn .next::before {
  transform: rotate(45deg);
  bottom: 7px;
  right: -2px;
}
#project .swiper_btn .btn .next::after {
  transform: rotate(-45deg);
  top: 7px;
  right: -2px;
}
#project .swiper_btn .btn .prev {
  transform-origin: left;
}
#project .swiper_btn .btn .prev::before {
  transform: rotate(-45deg);
  bottom: 7px;
  left: -2px;
}
#project .swiper_btn .btn .prev::after {
  transform: rotate(45deg);
  top: 7px;
  left: -2px;
}
#project .text_info {
  opacity: 0;
}
#project .text_info.on {
  opacity: 1;
}
#project .link_project .img_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
#project .link_project .img_box img {
  width: 100%;
}
#project .pagination-aria {
  display: block;
  position: relative;
  width: 48px;
}
#project .pagination-aria .swiper-pagination {
  position: absolute;
  top: 0;
}
#project .pagination-aria .swiper-pagination span {
  width: 10px;
  height: 10px;
}
#project .pagination-aria .swiper-pagination-fraction {
  color: #999;
  font-size: 24px;
  font-weight: 200;
}
#project .sect_inner {
  margin: auto;
}
#project .sect__wrap {
  display: none;
}

@media only screen and (max-width: 700px) {
  #project {
    padding: 6em 2em;
  }
  #project .sect_inner .swiper {
    width: 60%;
    overflow: visible !important;
    padding-top: 20px;
  }
  #project .sect_inner .swiper .swiper-slide {
    transition: 0.4s;
  }
  #project .text_container {
    position: relative;
    height: 140px;
  }
  #project .img_box img {
    filter: grayscale(1);
    transition: 0.4s;
  }
  #project .shadow {
    filter: drop-shadow(4px 6px 2px rgba(0, 0, 0, 0.2));
  }
  #project .text_info {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
  }
  #project .text_info .title {
    font-size: 24px;
    margin-bottom: 6px;
    transition: 0.3s;
  }
  #project .text_info .desc {
    font-size: 4vw;
    font-weight: 300;
    color: #999;
  }
  #project .swiper_btn .btn {
    width: 60px;
    height: 60px;
  }
  #project .pagination-aria {
    height: 14px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 701px) {
  #project .sect_inner {
    width: 90%;
    padding-top: 10em;
    padding-bottom: 12em;
  }
  #project .sect_inner .swiper_container {
    display: flex;
    justify-content: space-between;
  }
  #project .sect_inner .swiper {
    width: 40%;
    margin: 0;
  }
  #project .sect_inner .swiper .swiper-slide {
    transition: 0.5s;
  }
  #project .sect_inner .swiper .shadow {
    filter: drop-shadow(7px 8px 3px rgba(0, 0, 0, 0.2));
  }
  #project .sect_inner .swiper .sema {
    padding: 20px;
  }
  #project .img_box {
    margin-bottom: 20px;
    transition: 0.4s;
  }
  #project .text_container {
    position: relative;
    width: 50%;
  }
  #project .text_container .text_info {
    position: absolute;
    top: 0;
    left: 0;
  }
  #project .text_info .title {
    font-size: 48px;
    margin-bottom: 12px;
  }
  #project .text_info .desc {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
    color: #999;
  }
  #project .text_info ul {
    display: flex;
    gap: 10px;
    font-size: 20px;
  }
  #project .pagination-aria {
    height: 34px;
    display: inline-block;
  }
  #project .pagination-aria .swiper-pagination {
    position: absolute;
    top: 200px;
    left: 0%;
  }
  #project .pagination-aria .swiper-pagination span {
    width: 10px;
    height: 10px;
  }
}
@media only screen and (min-width: 1400px) {
  #project {
    border-radius: 20px;
    width: 90%;
    overflow: visible;
  }
  #project .sect_inner {
    max-width: 1380px;
  }
}/*# sourceMappingURL=project.css.map */