.c-stacking_trigger {
  position: sticky;
  top: 0;
  z-index: 1;
}

.is-inview {
  z-index: 2;
}

#project {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--black200_txt);
}
#project .swiper {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}
#project .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}
#project .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#project .swiper_container {
  background: var(--black100);
}
#project .swiper_container .text_container {
  position: relative;
}
#project .swiper_container .text_container .text_info {
  position: absolute;
  top: 0;
  left: 0;
}
#project .swiper_container .text_container .text_info .title {
  color: var(--white);
}
#project .swiper_btn {
  position: absolute;
  top: 46%;
  left: 0;
  width: 100px;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 1;
}
#project .swiper_btn .btn {
  width: 80px;
  height: 80px;
  padding: 14px;
  border: 1px dotted var(--black400);
  border-radius: 50%;
}
#project .swiper_btn .btn::after {
  display: none;
}
#project .swiper_btn .btn .next,
#project .swiper_btn .btn .prev {
  position: relative;
  width: 40px;
  height: 2px;
  background: var(--black400);
  border-radius: 20px;
}
#project .swiper_btn .btn .next::before, #project .swiper_btn .btn .next::after,
#project .swiper_btn .btn .prev::before,
#project .swiper_btn .btn .prev::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background: var(--black400);
  border-radius: 20px;
}
#project .swiper_btn .btn .next {
  transform-origin: right;
}
#project .swiper_btn .btn .next::before {
  transform: rotate(45deg);
  bottom: 7px;
  right: -2px;
}
#project .swiper_btn .btn .next::after {
  transform: rotate(-45deg);
  top: 7px;
  right: -2px;
}
#project .swiper_btn .btn .prev {
  transform-origin: left;
}
#project .swiper_btn .btn .prev::before {
  transform: rotate(-45deg);
  bottom: 7px;
  left: -2px;
}
#project .swiper_btn .btn .prev::after {
  transform: rotate(45deg);
  top: 7px;
  left: -2px;
}
#project .text_info {
  color: var(--black700);
  opacity: 0;
}
#project .text_info.on {
  opacity: 1;
}
#project .text_info .title {
  font-weight: 500;
}
#project .text_info .tag {
  display: none;
}
#project .link_project .img_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#project .link_project .img_box img {
  width: 100%;
}
#project .pagination-aria {
  display: block;
  position: relative;
  width: 48px;
}
#project .pagination-aria .swiper-pagination {
  position: absolute;
  top: 0;
}
#project .pagination-aria .swiper-pagination span {
  width: 10px;
  height: 10px;
}
#project .pagination-aria .swiper-pagination-fraction {
  color: var(--black600);
  font-size: 24px;
  font-weight: 200;
}
#project .sect_inner {
  margin: auto;
}
#project .sect__wrap {
  display: none;
}

@media only screen and (max-width: 700px) {
  #project {
    padding: 6em 2em;
  }
  #project .sect_inner {
    width: 100%;
  }
  #project .swiper_container {
    border-radius: 20px;
    padding: 30px 20px;
  }
  #project .swiper_container .swiper {
    width: 100%;
    padding-top: 20px;
  }
  #project .swiper_container .swiper .swiper-slide {
    transition: 0.4s;
  }
  #project .swiper_container .swiper .swiper-slide .pc_img {
    display: none;
  }
  #project .swiper_container .text_container {
    position: relative;
    height: 160px;
    word-break: keep-all;
    border: 1px solid #000;
  }
  #project .swiper_container .text_container br {
    display: none;
  }
  #project .swiper_container .text_info {
    position: absolute;
    top: 0;
    left: 0;
  }
  #project .swiper_container .text_info .title {
    font-size: 32px;
    margin-bottom: 10px;
    transition: 0.3s;
  }
  #project .swiper_container .text_info .desc {
    font-size: 16px;
    font-weight: 300;
    word-break: break-all;
    line-height: 1.4;
  }
  #project .swiper_container .text_info ul {
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    font-size: 16px;
    color: var(--black600);
  }
  #project .swiper_btn {
    border: 1px solid #000;
  }
  #project .swiper_btn .btn {
    width: 60px;
    height: 60px;
  }
  #project .pagination-aria {
    position: absolute;
    right: 0;
    top: 0;
  }
  #project .pagination-aria .swiper-pagination-fraction {
    color: var(--black700);
    font-size: 20px;
    font-weight: 200;
  }
}
@media only screen and (min-width: 701px) {
  #project .sect_inner {
    width: 90%;
    padding-top: 10em;
  }
  #project .sect_inner .swiper_container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border-radius: 50px;
    border: 1px solid #000;
  }
  #project .sect_inner .swiper .swiper-slide {
    display: block;
    transition: 0.5s;
    opacity: 0;
  }
  #project .sect_inner .swiper .swiper-slide.on {
    opacity: 1;
  }
  #project .sect_inner .swiper .swiper-slide.on .img_box img {
    filter: grayscale(0);
    transition: 0.3s;
  }
  #project .sect_inner .swiper .swiper-slide .mobile_img {
    display: none;
  }
  #project .sect_inner .swiper .img_box {
    transition: 0.4s;
  }
  #project .sect_inner .swiper .img_box img {
    filter: grayscale(1);
    transition: 0.4s;
  }
  #project .swiper_container {
    flex-direction: column;
  }
  #project .text_container {
    display: block;
    width: 100%;
    border: 1px solid #000;
    height: 200px;
  }
  #project .text_container .text_info {
    position: absolute;
    top: 0;
    left: 0;
  }
  #project .text_container .text_info .title {
    font-size: 48px;
    margin-bottom: 12px;
  }
  #project .text_container .text_info .desc {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5;
    color: var(--black600);
  }
  #project .text_container .text_info ul {
    gap: 10px;
    font-size: 20px;
  }
  #project .swiper_btn .btn {
    width: 80px;
    height: 80px;
  }
  #project .swiper_btn .btn .next,
  #project .swiper_btn .btn .prev {
    position: relative;
    width: 40px;
    height: 2px;
    background: var(--black400);
    border-radius: 20px;
  }
  #project .swiper_btn .btn .next::before, #project .swiper_btn .btn .next::after,
  #project .swiper_btn .btn .prev::before,
  #project .swiper_btn .btn .prev::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background: var(--black400);
    border-radius: 20px;
  }
  #project .swiper_btn .btn .next {
    transform-origin: right;
  }
  #project .swiper_btn .btn .next::before {
    transform: rotate(45deg);
    bottom: 7px;
    right: -2px;
  }
  #project .swiper_btn .btn .next::after {
    transform: rotate(-45deg);
    top: 7px;
    right: -2px;
  }
  #project .swiper_btn .btn .prev {
    transform-origin: left;
  }
  #project .swiper_btn .btn .prev::before {
    transform: rotate(-45deg);
    bottom: 7px;
    left: -2px;
  }
  #project .swiper_btn .btn .prev::after {
    transform: rotate(45deg);
    top: 7px;
    left: -2px;
  }
  #project .pagination-aria {
    display: inline-block;
    width: 100%;
    position: relative;
  }
  #project .pagination-aria .swiper-pagination {
    position: absolute;
    text-align: right;
    right: 0;
    top: 10px;
  }
  #project .pagination-aria .swiper-pagination span {
    width: 10px;
    height: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  #project .swiper_container {
    flex-direction: row;
    padding: 80px;
  }
  #project .swiper_container .swiper {
    width: 58%;
  }
  #project .swiper_container .text_container {
    width: 40%;
  }
  #project .swiper_container .pagination-aria {
    position: absolute;
    left: 0;
    bottom: -80px;
  }
  #project .swiper_container .pagination-aria .swiper-pagination {
    text-align: left;
  }
}
@media only screen and (min-width: 1400px) {
  #project {
    border-radius: 20px;
    width: 90%;
    overflow: visible;
  }
  #project .sect_inner {
    max-width: 1380px;
  }
}/*# sourceMappingURL=project.css.map */