#work {
  color: var(--black200_text);
  position: relative;
  padding-bottom: 40px;
}
#work .sect_inner {
  margin: auto;
}
#work .sect_inner .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#work .sect_inner .title-wrap .title {
  margin: 0;
}
#work .filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#work .filter .this-filter {
  position: absolute;
  top: 50%;
  left: 5px;
  z-index: 1;
  height: 80%;
  border: 1px solid #000;
  border-radius: 50px;
  background-color: var(--black100);
  transform: translateY(-50%);
  transition: 0.3s ease-in-out;
}
#work .filter .filter_list {
  padding: 5px;
  border-radius: 50px;
  background-color: var(--black800);
  position: relative;
  display: flex;
  gap: 2px;
}
#work .filter .filter_list .btn_filter {
  display: inline-block;
  position: relative;
  z-index: 2;
  color: var(--black200_text);
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 300;
  letter-spacing: -0.5px;
  transition: 0.3s ease-in-out;
}
#work .filter .filter_list .btn_filter[aria-selected=true] {
  color: var(--white);
  font-weight: 500;
}
#work .item-box .item {
  border-radius: 20px;
  background-color: var(--white);
  position: relative;
}
#work .item-box .item:not(:last-child) {
  margin-bottom: 20px;
}
#work .item-box .item .info {
  overflow: hidden;
  width: 100%;
  max-height: 0;
  padding-top: 0;
  opacity: 0;
  transition: 0.3s;
}
#work .item-box .item .info .desc {
  font-weight: 200;
  line-height: 1.5;
  word-break: break-all;
  letter-spacing: -0.6px;
  color: var(--black800);
}
#work .item-box .item .info .date {
  color: var(--black600);
  display: none;
}
#work .item.on {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3764705882);
  background-color: var(--black100);
  color: var(--white);
}
#work .item.on .header_group .view_btn::before {
  background-color: var(--black400);
}
#work .item.on .header_group .view_btn svg {
  stroke: var(--white);
}
#work .item.on .header_group .view_btn:hover::before {
  background-color: var(--black200_text);
}
#work .item.on .header_group .view_btn:hover svg {
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
}
#work .item.on .info {
  opacity: 1;
}
#work .header_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#work .header_group .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
#work .header_group .profile .Thumbnail {
  border-radius: 10px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#work .header_group .profile .Thumbnail img {
  height: 100%;
}
#work .header_group .profile .title {
  font-weight: 600;
  position: relative;
  transition: 0.3s ease;
}
#work .header_group .profile .title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  height: 10px;
  width: 0;
  background-color: #bef264;
  transition: 0.3s ease;
  mix-blend-mode: multiply;
}
#work .header_group .profile .title span {
  font-weight: 300;
  color: var(--black600);
}
#work .header_group .profile .title a {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
#work .header_group .view_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 6px;
  transition: 0.3s;
  transform: rotate(0);
}
#work .header_group .view_btn svg {
  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
}
#work .header_group .view_btn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: var(--bg-color, transparent);
  transition: 0.2s;
}
#work .filter-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  height: auto;
}
#work .filter-tag .tag_list {
  display: flex;
}
#work .filter-tag .tag_list .tag_item {
  color: var(--black600);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.09);
  text-transform: uppercase;
}

@media only screen and (max-width: 700px) {
  #work {
    padding: 6rem 2rem;
  }
  #work .sect_inner .title-wrap {
    flex-direction: column;
  }
  #work .sect_inner .title-wrap .sect_title {
    margin-bottom: 0;
  }
  #work .filter {
    margin-top: 40px;
    flex-direction: column;
  }
  #work .filter .this-filter {
    width: 51px;
  }
  #work .filter .btn_filter {
    padding: 5px 15px;
    font-size: 4vw;
  }
  #work .item-box {
    margin-top: 40px;
  }
  #work .item-box .left .item:nth-child(4) {
    margin-bottom: 10px;
  }
  #work .item-box .item .left,
  #work .item-box .item .right {
    width: 100%;
  }
  #work .item-box .item:not(:last-child) {
    margin-bottom: 10px;
  }
  #work .item-box .item .info {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 0;
  }
  #work .item-box .item .info .date {
    font-size: 3vw;
  }
  #work .item-box .item .info .desc {
    font-size: 16px;
    margin-bottom: 40px;
  }
  #work .item.on {
    padding-bottom: 20px;
  }
  #work .item.on .header_group {
    margin-bottom: 20px;
  }
  #work .header_group {
    padding: 20px;
  }
  #work .header_group .title_box {
    font-size: 20px;
  }
  #work .header_group .title_box .title {
    padding: 10px 0;
    gap: 10px;
  }
  #work .filter-tag .tag_list {
    gap: 8px;
  }
  #work .filter-tag .tag_list .tag_item {
    font-size: 3vw;
    padding: 6px 14px;
  }
  #work .filter-tag a {
    padding: 6px 14px;
    border-radius: 20px;
    background-color: var(--black100);
    color: var(--white);
    font-size: 3vw;
  }
}
@media only screen and (min-width: 701px) {
  #work {
    padding: 6rem 0 12rem;
  }
  #work .sect_inner {
    max-width: 90%;
    margin-top: 100px;
  }
  #work .sect_inner .title-wrap {
    margin-bottom: 60px;
  }
  #work .filter p {
    font-size: 2rem;
  }
  #work .filter .this-filter {
    width: 60px;
  }
  #work .filter .filter_list .filter_item .btn_filter {
    padding: 5px 20px;
    font-size: 2rem;
  }
  #work .item-box {
    margin-top: 40px;
    display: flex;
    gap: 20px;
  }
  #work .item-box .left,
  #work .item-box .right {
    width: calc(50% - 10px);
  }
  #work .item-box .item:not(:last-child) {
    margin-bottom: 20px;
  }
  #work .item-box .item .info .img-box {
    right: -8%;
    bottom: 2%;
    width: 56%;
    transform: rotate(-34deg);
    z-index: 10;
  }
  #work .item-box .item .info .desc {
    font-size: 1.6rem;
    margin-bottom: 40px;
  }
  #work .item-box .item .info .date {
    font-size: 16px;
  }
  #work .item.on {
    padding-bottom: 30px;
  }
  #work .item.on .info {
    padding: 0 30px;
  }
  #work .header_group {
    padding: 24px;
  }
  #work .header_group .title_box {
    font-size: 2rem;
  }
  #work .header_group .title_box .title {
    padding: 10px 0;
    gap: 10px;
  }
  #work .filter-tag .tag_list {
    display: flex;
    gap: 4px;
  }
  #work .filter-tag .tag_list .tag_item {
    padding: 6px 20px;
    font-size: 10px;
    white-space: nowrap;
  }
}
@media only screen and (min-width: 900px) {
  #work .filter-tag .tag_list .tag_item {
    height: 30px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1400px) {
  #work {
    padding: 6rem 0 12rem;
    border-radius: 20px;
  }
  #work .sect_inner {
    max-width: 1380px;
  }
  #work .item-box .item:not(:last-child) {
    margin-bottom: 20px;
  }
  #work .item-box .item .title_box {
    font-size: 2.4rem;
  }
  #work .item-box .item .title_box .title {
    padding: 10px 0;
    gap: 10px;
  }
  #work .item-box .item .plus-icon {
    width: 40px;
    height: 40px;
  }
}/*# sourceMappingURL=work.css.map */