@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

#about{
height: 100vh;
}

@media only screen and (max-width: 400px) {
  #about{
    .sect_inner{
      padding: 20px;
    }
  }
};