#about {
  .pf_title_wrap {
    display: grid;
    font-weight: bold;
    color: var(--main-color);
    .pf {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      margin: auto;
      text-transform: uppercase;
    }
  }
  .labels,
  .values,
  .skills {
    display: grid;
    border-bottom: 1px solid var(--main-color);
  }
  .labels {
    border-top: 1px solid var(--main-color);
  }
  .labels,
  #skills-label {
    text-transform: uppercase;
  }
  .values,
  .category {
    color: var(--main-color);
    font-weight: 700;
    span {
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  .underline:hover {
    text-decoration: underline;
  }
}
@media only screen and (max-width: 700px) {
  #about {
    .pf_title_wrap {
      gap: 8px;
      margin-bottom: 16px;
    }
    .pf_title {
      font-size: 24px;
    }
    .pf {
      font-size: 15px;
    }
    .labels {
      display: none;
    }
    .values {
      border-top: 1px solid var(--main-color);
      .right{
        width: 100%;
        text-align: right;
      }
    }
    .values {
      grid-template-columns: repeat(2, 1fr);
      gap: 1px 5px;
      font-size: 16px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 1px;
        background: var(--main-color);
      }
      li {
        padding: 10px 0;
      }
    }
    .skills {
      gap: 5px;
      font-size: 16px;
      padding: 10px 0;
      .category span {
        display: none;
      }
    }
    .intro{
      p{
        font-size: 15px;
        padding-bottom: 10px;
      }
    }
  }
}

@media only screen and (min-width: 701px) {
  #about {
    .pf_title_wrap {
      grid-template-columns: 3fr 1fr;
      gap: 5px;
      margin-bottom: 20px;
    }
    .pf_title {
      font-size: 32px;
    }
    .pf {
      font-size: 16px;
      gap: 4px;
    }
    .labels,
    .values,
    .skills {
      grid-template-columns: repeat(4, 1fr);
      gap: 5px;
      font-size: 16px;
      padding: 10px 0;
    }
    .intro{
      p{
        font-size: 16px;
        padding-bottom: 10px;
      }
    }
  }
}
@media only screen and (min-width: 900px) {
  #about {
    .pf_title_wrap {
      grid-template-columns: 3fr 1fr;
      gap: 5px;
      margin-bottom: 20px;
    }
    .pf_title {
      font-size: 42px;
      br {
        display: none;
      }
    }
  }
}
