@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

#about {
  border: 1px solid #e72d2d12;
  .sect_inner {
    margin: auto;
    .sect_title {
      padding: 0;
      .po_ab {
        padding: 0;
      }
    }
  }
  .info {
    .keyword {
      font-weight: 600;
    }
    .text {
      border-top: 1px solid var(--black600);
      line-height: 1.5;
      .text_scrollTrigger {
        word-break: keep-all;
        color: var(--black100);
      }
    }
  }
  .skils {
    display: flex;
    ul {
      display: flex;
      gap: 10px;
      li {
        display: inline-block;
        position: relative;
        @include flex-c();
        &::before {
          content: attr(data-hover);
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 110%;
          z-index: 1;
          visibility: hidden;
          width: auto;
          padding: 5px 10px;
          color: var(--black200_txt);
          border-radius: 5px;
          opacity: 0;
        }
        &:hover::before {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
// // ***************************************************************************************************************************
@media only screen and (max-width: 700px) {
  #about {
    padding: 6rem 20px 8rem;
    .sect_inner {
      .info {
        .keyword {
          line-height: 1.3;
          text-align: center;
          padding-bottom: 20px;
          font-size: clamp(20px, 28px, 32px);
        }
        .text {
          padding-top: 20px;
          font-size: 16px;
          // font-size: clamp(12px, 16px, 20px);
          text-align: center;
          p:first-child {
            padding-bottom: 20px;
          }
          br {
            display: none;
          }
        }
      }
    }
  }
}
//----------------------------------------------------------------------
@media only screen and (min-width: 701px) {
  #about {
    @include flex-c();
    // height: 80vh;
    // padding: 8rem 0px 15rem;
    .keyword {
      font-size: 4rem;
      line-height: 1.3;
      margin-bottom: 40px;
    }
    .text {
      padding-top: 40px;
      .text_scrollTrigger {
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.6;
        &:nth-child(2) {
          margin-top: 1rem;
        }
      }
    }
    .skils {
      margin-top: 40px;
      font-size: 2rem;
      ul {
        li {
          width: 50px;
        }
      }
    }
  }
}
//----------------------------------------------------------------------
@media only screen and (min-width: 1400px) {
  #about {
    border-radius: 20px;
    .sect_inner {
      .keyword {
        font-size: 4rem;
        color: var(--black200_txt);
        opacity: 0.9;
        line-height: 1.3;
      }
    }
  }
}
