@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

#footer {
  background: #111;
  position: relative;
  width: 100%;
  transition: transform 0.5s ease-out;
  z-index: -1;
  transition: 0.2s;
  .sect_inner {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    .bg {
      line-height: 1;
      font-weight: 700;
    }
    .footer_info {
      color: var(--mainBg-color);
      .top {
        .name {
          text-transform: uppercase;
        }
        .txt {
          font-weight: 300;
          line-height: 1.5;
        }
      }
      .bottom {
        .f_b_txt {
          line-height: 1.5;
          color: #999;
          a:hover {
            text-decoration: underline;
          }
          &.copyright {
            span {
              font-weight: 100;
            }
          }
          &.link {
            display: flex;
            gap: 20px;
            width: auto;
            a {
              width: 100%;
              height: 100%;
              img {
                opacity: 0.8;
                &.git {
                  filter: invert(1);
                }
              }
            }
          }
        }
      }
    }
  }
}

// ***************************************************************************************************************************
@media only screen and (max-width: 700px) {
  #footer {
    height: 70vh;
    text-align: center;
    .sect_inner {
      bottom: 15vh;
      border: 1px solid #0f0;
      .footer_info {
        .top {
          .name {
            font-weight: 600;
            font-size: clamp(30px, 32px, 36px);
            white-space: nowrap;
          }
          .txt {
            font-size: 4vw;
            // border: 1px solid #f00;
            padding-top: 20px;
            margin-bottom: 20px;
          }
        }
        .bottom {
          color: var(--white);
          font-weight: 300;
          .f_b_txt {
            font-size: 4vw;
            line-height: 2;
            &.copyright {
              font-weight: 100;
              opacity: 0.6;
            }
            &.link {
              margin-top: 40px;
              justify-content: center;
              > div {
                display: inline-block;
                width: 40px;
                height: 40px;
                img {
                  width: 100%;
                }
              }
            }
            &.none {
              display: none;
            }
          }
        }
      }
    }
  }
}
// ----------------------------------------------------------------------
@media only screen and (min-width: 701px) {
  #footer {
    height: var(--footer-spacing);
    .sect_inner {
      max-width: 95%;
      bottom: 146px;
      // padding-top: 8rem;
      .footer_info {
        .top {
          padding-bottom: 80px;
          font-weight: 500;
          justify-content: space-between;
          .name {
            font-size: 2rem;
            font-weight: 800;
          }
          .txt {
            padding-top: 10px;
            font-size: 2rem;
            opacity: 0.8;
          }
        }
        .bottom {
          display: flex;
          justify-content: space-between;
          color: var(--white);
          font-weight: 300;

          .f_b_txt {
            font-size: 1.6rem;
            &.my_info {
              width: 25%;
            }
            &.copyright {
              opacity: 0.8;
              width: 50%;
              text-align: center;
            }
            &.link {
              width: 25%;
              justify-content: flex-end;
              > div {
                display: inline-block;
                width: 40px;
                height: 40px;
                &:hover {
                  img {
                    opacity: 0.6;
                  }
                }
                img {
                  width: 100%;
                  transition: 0.3s;
                }
              }
            }
          }
        }
      }
    }
  }
}
//----------------------------------------------------------------------
@media only screen and (min-width: 1400px) {
  #footer {
    height: var(--footer-spacing);
    .sect_inner {
      max-width: 1380px;
    }
  }
}
