@mixin po-c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
// ------------------------------
#header {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 5px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  .header_inner {
    height: 100%;
    @include flex-c();
    gap: 10px;
    .header_logo {
      font-family: "GmarketSansMedium";
      padding: 10px 20px;
      color: #666;
    }
    nav {
      ul {
        text-transform: uppercase;
        color: var(--black600);
        @include flex-c();
        gap: 5px;
        li {
          a {
            position: relative;
            transform-origin: right;
            display: inline-block;
            padding: 10px 20px;
            border-radius: 50px;
            color: #666;
            transition: color 0.3s;
            &:hover {
              color: #999;
            }
            &.on {
              background: var(--main-color);
              color: #fff;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

// *********************************************************************************************************************
@media only screen and (max-width: 700px) {
  #header {
    width: auto;
    padding: 10px;
    background: transparent;
    bottom: 20px;
    z-index: 1000;
    border: 1px solid var(--black600);
    transition: background .3s;
    &:hover{
      background: rgba($color: #fff, $alpha: .5);
    }
    .header_inner {
      border-radius: 20px;
      width: 90px;
      @include flex-c(space-between);
      text-transform: uppercase;
      color: var(--black600);
      .header_logo,
      .header_nav {
        display: none;
      }
      .header_nav_mobile {
        display: block;
        padding: 10px;
        width: 100%;
        height: 100%;
        @include flex-c();
        text-align: center;
        cursor: pointer;
        .mobile_menuBar {
          span {
            font-size: clamp(12px, 14px, 16px);
          }
        }
      }
    }
  }
  /* 모바일 메뉴 */
  nav.header_mobile {
    width: 100%;
    padding: 10px;
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translateX(-50%);
    transition: 0.5s ease;
    z-index: 1001;
    text-align: center;
    &.on{
      top: 0;
    }
    .inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding: 30px;
      background: var(--main-color);
      border-radius: 20px;
      /* 모바일용 메뉴 햄버거 */
      .header_logo_mobile {
        color: var(--white);
        font-size: 1rem;
        font-weight: 500;
        a {
          display: inline-block;
          font-size: 4vw;
        }
      }
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: var(--white);
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
        li {
          a {
            display: inline-block;
            font-size: clamp(16px, 20px, 24px);
            position: relative;
            opacity: 1;
            transition: opacity 0.5s ease, color 0.5s ease; /* opacity와 color에 대해 부드러운 전환 효과 추가 */
            &:hover {
              color: var(--white);
              opacity: 1;
              &::after {
                width: 100%;
                left: 0;
              }
            }
            &::after {
              content: "";
              width: 0%;
              height: 2px;
              background: var(--white);
              position: absolute;
              right: 0;
              bottom: -2px;
              transition: width 0.5s ease; /* width에 대한 전환 효과 */
            }
          }
        }
      }
      .close{
        width: 60px;
        height: 60px;
        margin: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        &:hover .close_bg_blend{
          opacity: 0.5;
          // opacity: 1;
        }
        .close_icon{
          position: relative;
          width: 30px;
          height: 30px;
          z-index: 10;
          &::before,
          &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 2px;
            background: var(--white);
            transform-origin: center;
          }
          &::before{
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &::after{
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
        .close_bg_blend{
          width: 100%;
          height: 100%;
          background: var(--main-color);
          mix-blend-mode: multiply;
          opacity: 0;
          // box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5),inset 1 0 10px rgba(0, 0, 0, 0.5);
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: 0.2s;
        }
      }
    }
  }
  /* 모바일 메뉴bg의 반투명 */
  .header_mobile_filter {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
    &.on {
      opacity: 1;
      /* on일 땐 배경이 클릭되면 안되니까!! */
      pointer-events: visible;
    }
  }
}

// ------------------------------------------------------------------------------------------------
@media only screen and (min-width: 701px) {
  #header {
    .header_inner {
      .header_logo {
        font-size: 2rem;
      }
      .header_nav {
        font-size: 1.6rem;
      }
      .header_nav_mobile {
        display: none;
      }
    }
  }
  nav.header_mobile{
    display: none;
  }
}
// ------------------------------------------------------------------------------------------------
// @media only screen and (min-width: 1300px) {
//   .header_inner{

//   }
// }
