@mixin po-c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
// ------------------------------
#header {
  // display: none;
  width: 100%;
  padding: 20px 40px;
  background: transparent;
  height: 80px;

  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  bottom: 5%;
  position: absolute;
  top: calc(100vh - 100px);
  // transition: 3s;

  &.fixed {
    position: fixed;
    top: 0;
    background: var(--mainBg-color);
    border-bottom: 1px solid var(--black600);
  }

  &.scrolled {
    background-color: #111;
    color: #ccc;
  }

  .header__inner {
    height: 100%;

    nav {
      ul {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        text-transform: uppercase;
        color: var(--black600);

        li {
          a {
            position: relative;
            transform-origin: right;

            &::after {
              content: "";
              width: 0%;
              height: 2px;
              background: var(--black700);
              position: absolute;
              right: 0;
              bottom: -2px;
              transition: 0.3s;
            }

            &.on {
              color: var(--main-color);
              font-weight: 700;

              &::after {
                // display: none;
                width: 0;
              }
            }

            &:hover:not(.on) {
              &::after {
                width: 100%;
                left: 0;
              }
            }
          }
        }
        // li {
        //   a {
        //     position: relative;
        //     display: block;
        //     // width: 100px;
        //     height: 24px;
        //     padding: 0 20px;
        //     overflow: hidden;
        //     span {
        //       display: inline-block;
        //       position: relative;
        //       top: 0;
        //       left: 50%;
        //       transform: translateX(-50%);
        //       transition: 0.3s;
        //       &::after {
        //         position: absolute;
        //         color: var(--main-color);
        //         top: 100%;
        //         left: 50%;
        //         transform: translateX(-50%);
        //         transition:  top 0.3s;
        //       }
        //     }

        //     &.on {
        //       color: var(--main-color);
        //       font-weight: 700;

        //       &::after {
        //         top: -100%;
        //       }
        //     }
        //   }
        //   &:nth-child(1) {
        //     span {
        //       &::after {
        //         content: "home";
        //       }
        //     }
        //   }
        //   &:nth-child(2) {
        //     span {
        //       &::after {
        //         content: "project";
        //       }
        //     }
        //   }
        //   &:nth-child(3) {
        //     span {
        //       &::after {
        //         content: "work";
        //       }
        //     }
        //   }
        //   &:nth-child(4) {
        //     span {
        //       &::after {
        //         content: "about";
        //       }
        //     }
        //   }
        //   &:hover {
        //     a {
        //       span {
        //         top: -100%; // 스팬 태그 자체를 a 밖으로 밀어냄
        //       }
        //     }
        //   }
        // }
      }
    }
  }
}

// *********************************************************************************************************************
@media only screen and (max-width: 700px) {
  #header {
    width: 100%;
    height: 80px;
    padding: 0;
    top: calc(100vh - 80px);
    z-index: 1000; 
    .header__inner {
      padding: 0px 40px;
      width: 100%;
      height: 100%;
      @include flex-c(space-between);
      // position: relative;
      background: var(--mainBg-color);
      nav {
        // border: 1px solid var(--black700);
        width: 100%;
        height: 200px;
        padding: 20px 40px;
        position: absolute;
        right: 0;
        top: 80px;
        background: rgba($color: #f5f5f5, $alpha: .8);
        backdrop-filter: blur(6px);
        box-shadow: 0 2px 20px rgba($color: #000000, $alpha: .1);
        z-index: -1;
        ul{
          flex-direction: column;
          li{
            text-align: right;
          }
        }
      }
      .header__nav_mobile {
        width: 70px;
        height: 70px;
        padding: 10px 18px; 
        @include flex-c();
        transform: translateX(18px);
        span {
          width: 100%;
          height: 4px;
          background: var(--black200_txt);
          display: block;
          position: relative;
          &::before,
          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 4px;
            background: var(--black200_txt);
          }
          &::before {
            top: -10px;
          }
          &::after {
            top: 10px;
          }
        }
      }
    }
  }
}
// ------------------------------------------------------------------------------------------------
@media only screen and (min-width: 701px) {
  #header {
    // height: 100px;
    .header__inner {
      @include flex-c(space-between);
      .header__logo {
        font-size: 1.5rem;
      }

      .header__nav_mobile {
        display: none;
      }
    }
  }
}
// ------------------------------------------------------------------------------------------------
// @media only screen and (min-width: 1300px) {
//   .header__inner{

//   }
// }
