@mixin po-c{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin flex-c($justify:center){
  display: flex;
  justify-content: $justify;
  align-items: center;
}

section{
  &#intro{
    .sect_inner{
      padding: 12rem 5% 0;

    }
  }
}
// ***************************************************************************************************************************

@media only screen and (max-width:600px){

}
// ----------------------------------------------------------------------


@media only screen and (min-width:601px){
  
}
// ----------------------------------------------------------------------


@media only screen and (min-width:900px){
  // 내중에 버려~
  // header{
  //   border-bottom: 1px solid #000;
  //   .header__inner{
  //     @include flex-c(space-between);

  //     nav{
  //       ul{
  //         @include flex-c(space-between);
  //       }
  //     }
  //   }
  // }
  main{
    // border: 1px solid #000;
    section{
      width: 1400px;
      margin: auto;
      width: 100%;
      // border: 1px solid #000;
      &#intro{
        height: 100vh;
        p.title{
          font-size: 240px;
          text-align: center;
          font-weight: 900;
          margin-top: 100px;
        }
        .img_box{
          img{
            width: 20%;
            filter: drop-shadow(5px 5px 5px red);
          }
        }
      }
    }
  }

}