@mixin po-c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box; // 크기 계산에 border 포함
}

//
section {
  height: auto;
  &#project {
    color: var(--black200_txt);
    height: auto;
    width: 100%;
    background-color: var(--mainBg-color);
    .sect_inner {
      width: 100%;
      margin: auto;
      height: auto;
      // border-left: 1px solid var(--mainBg-color);
      // border-right: 1px solid var(--mainBg-color);
      article.sect__item {
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 50px;
        padding: 40px 40px;
        position: sticky;
        left: 0;
        top: 0;
        background-color: var(--mainBg-color);

        // border-top: 1px solid #000;
        border: 1px solid transparent;
        border-bottom: 0;
        border-image: url(/src/img/line.jpg) 30;
        border-image-repeat: repeat;
        // background-color: var(--white);
        &.s1 {
          top: 79px;
          
        }

        &.s2 {
          top: 200px;
        }

        &.s3 {
          top: 320px;
          .s_img{
            .img_bg{
              img{
                width: 60%;
              }
            }
          }
        }

        &.s4 {
          top: 440px;
        }
        .num{
          line-height: 1;
          font-family: 'Binggrae';
        }
        .info{
          h2{
            font-size: 2.5rem;
            line-height: 1;
            font-weight: 600;
          }
          .txt{
            width: 70%;
            padding-top: 80px;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 1.75rem;
            letter-spacing: -.3px;
            text-align: justify;
            border: 1px solid #000;
            span{
              font-weight: 700;
            }
          }
          a {
            display: inline-block;
            margin-top: 60px;
            padding: 10px 30px;
            transition: 0.3s;
            border: 1px solid #000;
            font-weight: 800;
            &.view_btn {
              margin-right: 10px;
              i {
                padding-left: 10px;
              }
              &:hover {
                background: var(--black);
                color: var(--white);
              }
            }
          
            &.plan {
              border: none;
              font-weight: 800;
              border: 1px solid var(--black800);
              background: var(--black800);
              &::after{
                content: '';
                transition: .5s;
                opacity: 0;
              }
              &:hover{
                &::after{
                  content: '->';
                  padding-left: 5px;
                  opacity: 1;
                }
                // background: var(--black800);
                // mix-blend-mode:difference;
              }
            }
          }
          
        }
        .s_img {
          // padding-right: 20px;
          .img_bg {
            border-radius: 5px;
            padding: 50px;
            height: 100%;
            @include flex-c();
            background: var(--black900);
            filter: grayscale(100%);  // 기본 흑백 처리
            transition: .3s;
            img {
              width: 100%;
              animation: rotateImage 2s infinite linear;
            }
          }
          // @keyframes rotateImage {
          //   0% {
          //     transform: rotate(0deg);
          //   }
          //   25% {
          //     transform: rotate(5deg);
          //   }
          //   50% {
          //     transform: rotate(0deg);
          //   }
          //   75% {
          //     transform: rotate(-5deg);
          //   }
          //   100% {
          //     transform: rotate(0deg);
          //   }
          // }
        }
      }
    }
  }
}
