@mixin po-c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin flex-c($justify: center) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: $justify;
  align-items: center;
}
.c-stacking_trigger {
  position: sticky;
  top: 0;
  z-index: 1;
}
.is-inview {
  z-index: 2;
}

#project {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--black200_txt);
  .swiper {
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .swiper_container {
    background: var(--black100);
    .text_container {
      position: relative;
      .text_info {
        position: absolute;
        top: 0;
        left: 0;
        .title{
          color: var(--white);
        }
      }
    }
  }

  .swiper_btn {
    position: absolute;
    top: 46%;
    left: 0;
    width: 100px;
    opacity: 1;
    transition: opacity 0.3s;
    z-index: 1;
    .btn {
      width: 80px;
      height: 80px;
      padding: 14px;
      border: 1px dotted var(--black400);
      border-radius: 50%;
      &::after {
        display: none;
      }
      .next,
      .prev {
        position: relative;
        width: 40px;
        height: 2px;
        background: var(--black400);
        border-radius: 20px;
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 50%;
          height: 2px;
          background: var(--black400);
          border-radius: 20px;
        }
      }
      .next {
        transform-origin: right;
        &::before {
          transform: rotate(45deg);
          bottom: 7px;
          right: -2px;
        }
        &::after {
          transform: rotate(-45deg);
          top: 7px;
          right: -2px;
        }
      }
      .prev {
        transform-origin: left;
        &::before {
          transform: rotate(-45deg);
          bottom: 7px;
          left: -2px;
        }
        &::after {
          transform: rotate(45deg);
          top: 7px;
          left: -2px;
        }
      }
    }
  }
  .text_info {
    color: var(--black700);
    opacity: 0;
    &.on {
      opacity: 1;
    }
    .title {
      font-weight: 500;
    }
    .tag{
      display: none;
    }
  }
  .link_project {
    .img_box {
      width: 100%;
      @include flex-c();
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
  .pagination-aria {
    display: block;
    position: relative;
    width: 48px;
    .swiper-pagination {
      position: absolute;
      top: 0;
      span {
        width: 10px;
        height: 10px;
      }
    }
    .swiper-pagination-fraction {
      color: var(--black600);
      font-size: 24px;
      font-weight: 200;
    }
  }
  .sect_inner {
    margin: auto;
  }
  .sect__wrap {
    display: none;
  }
}

// =========================================================================================
@media only screen and (max-width: 700px) {
  #project {
    padding: 6em 2em;
    .sect_inner{
      width: 100%;
    }
    .swiper_container{
      border-radius: 20px;
      padding: 30px 20px;
      .swiper {
        width: 100%;
        padding-top: 20px;
        .swiper-slide {
          transition: 0.4s;
          .pc_img{
            display: none;
          }
        }
      }
      .text_container {
        position: relative;
        height: 160px;
        word-break: keep-all;
        border: 1px solid #000;
        br {
          display: none;
        }
      }
      .text_info {
        position: absolute;
        top: 0;
        left: 0;
        .title {
          font-size: clamp(24px, 32px, 42px);
          margin-bottom: 10px;
          transition: 0.3s;
        }
        .desc {
          font-size: clamp(14px, 16px, 20px);
          font-weight: 300;
          word-break: break-all;
          line-height: 1.4;
        }
        ul {
          justify-content: center;
          gap: 20px;
          padding-top: 20px;
          font-size: clamp(14px, 16px, 20px);
          color: var(--black600);
        }
      }
    }
    .swiper_btn {
      border: 1px solid #000;
      .btn {
        width: 60px;
        height: 60px;
      }
    }
    .pagination-aria {
      position: absolute;
      right: 0;
      top: 0;
      // bottom: 40px;
      .swiper-pagination-fraction {
        color: var(--black700);
        font-size: clamp(16px, 20px, 24px);
        font-weight: 200;
      }
    }
  }
}
// -----------------------------------------------------------------------------------
@media only screen and (min-width: 701px) {
  #project {
    .sect_inner {
      width: 90%;
      padding-top: 10em;
      .swiper_container {
        display: flex;
        justify-content: space-between;
        padding: 40px;
        border-radius: 50px;
        border: 1px solid #000;
      }
      .swiper {
        .swiper-slide {
          display: block;
          transition: 0.5s;
          opacity: 0;
          &.on {
            opacity: 1;
            .img_box {
              img {
                filter: grayscale(0);
                transition: 0.3s;
              }
            }
          }
          .mobile_img{
            display: none;
          }
        }
        .img_box {
          transition: 0.4s;
          img {
            filter: grayscale(1);
            transition: 0.4s;
          }
        }
      }
    }
    .swiper_container {
      flex-direction: column;
    }
    .text_container {
      display: block;
      width: 100%;
      border: 1px solid #000;
      height: 200px;
      .text_info {
        position: absolute;
        top: 0;
        left: 0;
        .title {
          font-size: 48px;
          margin-bottom: 12px;
        }
        .desc {
          font-size: 20px;
          font-weight: 200;
          line-height: 1.5;
          color: var(--black600);
        }
        ul {
          gap: 10px;
          font-size: 20px;
        }
      }
    }
    .swiper_btn{
      .btn{
        width: 80px;
        height: 80px;
        .next,
        .prev {
          position: relative;
          width: 40px;
          height: 2px;
          background: var(--black400);
          border-radius: 20px;
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 50%;
            height: 2px;
            background: var(--black400);
            border-radius: 20px;
          }
        }
        .next {
          transform-origin: right;
          &::before {
            transform: rotate(45deg);
            bottom: 7px;
            right: -2px;
          }
          &::after {
            transform: rotate(-45deg);
            top: 7px;
            right: -2px;
          }
        }
        .prev {
          transform-origin: left;
          &::before {
            transform: rotate(-45deg);
            bottom: 7px;
            left: -2px;
          }
          &::after {
            transform: rotate(45deg);
            top: 7px;
            left: -2px;
          }
        }
      }
    }
    .pagination-aria {
      display: inline-block;
      width: 100%;
      position: relative;
      // border: 1px solid #f00;
      .swiper-pagination {
        position: absolute;
        text-align: right;
        right: 0;
        top: 10px;
        span {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}
// -----------------------------------------------------------------------------------
@media only screen and (min-width: 1200px) {
  #project {
    .swiper_container {
      flex-direction: row;
      padding: 80px;
      .swiper {
        width: 58%;
      }
      .text_container {
        width: 40%;
      }
      .pagination-aria{
        position: absolute;
        left: 0;
        bottom:-80px;

        .swiper-pagination{
          text-align: left;
        }
      }
    }
  }
}
// -----------------------------------------------------------------------------------
@media only screen and (min-width: 1400px) {
  #project {
    border-radius: 20px;
    width: 90%;
    overflow: visible;
    .sect_inner {
      max-width: 1380px;
    }
  }
}
