@mixin po-c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
.c-stacking_trigger {
  position: sticky;
  top: 0;
  z-index: 1;
}

.is-inview {
  z-index: 2;
}
//
#project {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--black200_txt);
  .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    .swiper-slide {
      font-size: 18px;
      height: calc((100% - 30px) / 2) !important;
      border: none;
      position: relative;
      .sticker{
        width: 120px;
        height: 40px;
        background: var(--main-color);
        opacity: .8;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) rotate(20deg);
        z-index: 1;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        overflow: hidden;
      }
      a.bg-img {
        width: 100%;
        img {
          width: 100%;
        }
      }
      h4 {
        font-weight: 600;
        // font-family: 'Gothic_Goding';
        a {
          display: block;
        }
      }
      
    }
    .pagination-aria {
      width: 100%;
      position: relative;
      display: block;
      .swiper-pagination {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        span {
          width: 10px;
          height: 10px;
          &.swiper-pagination-bullet-active{
            background: var(--main-color);
          }
        }
      }
    }
  }
  .sect_inner {
    margin: auto;
  }
  .sect__wrap {
    display: none;
  }
}

// =========================================================================================
@media only screen and (max-width: 700px) {
  #project {
    padding: 6em 2em;
    .sect_inner {
      .swiper {
        overflow: visible !important;
        padding-top: 20px;
        .swiper-slide {
          transition: 0.4s;
          .bg-img {
            margin-bottom: 20px;
            box-shadow: 0 4px 12px #00000070;
            img {
              filter: grayscale(1);
              transition: 0.4s;
            }
          }
          &.swiper-slide-active {
            transform: translateY(-20px);
            .bg-img {
              img {
                filter: grayscale(0);
              }
            }
            .txt{
              .title{
                font-size: 8vw;
              }
            }
          }
          .txt {
            text-align: center;
            .title {
              font-size: 6vw;
              margin-bottom: 6px;
              transition: .3s;
            }
            p {
              font-size: 4vw;
              font-weight: 300;
              color: #999;
            }
          }
        }
        .pagination-aria {
          height: 14px;
          margin-top: 20px;
        }
      }
    }
  }
}
// -----------------------------------------------------------------------------------
@media only screen and (min-width: 701px) {
  #project {
    .sect_inner {
      width: 90%;
      padding-top: 6em;
      padding-bottom: 12em;
      .swiper {
        overflow: visible !important;
        padding-top: 20px;
        // overflow-x: hidden !important;
        .swiper-slide {
          transition: 0.5s;
          &:hover {
            transform: translateY(-10px);
            .bg-img {
              box-shadow: 0 10px 20px #00000050;
            }
          }
          .bg-img {
            // border: 1px solid #f00;
            margin-bottom: 20px;
            transition: 0.4s;
          }
          .txt {
            .title {
              font-size: 2.8rem;
              margin-bottom: 6px;
            }
            p {
              font-size: 16px;
              color: #999;
            }
          }
        }
        .pagination-aria {
          width: 100%;
          height: 14px;
          display: block;
          position: relative;
          margin-top: 60px;
          // border: 1px solid #000;
          .swiper-pagination {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            span {
              background: var(--main-color);
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
  }
}
// -----------------------------------------------------------------------------------
@media only screen and (min-width: 1301px) {
  #project {
    .sect_inner{
      .swiper{
        .pagination-aria{
          display: none;
        }
      }
    }
  }
}
// -----------------------------------------------------------------------------------
@media only screen and (min-width: 1400px) {
#project{
  .sect_inner{
    max-width: 1380px;
  }
}
}
