@mixin po-c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin flex-c($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

#work {
  border: 1px solid #000;
  color: var(--black200_txt);
  position: relative;
  padding-bottom: 40px;
  // margin-bottom: var(--footer-spacing);
  // border-top: 1px solid var(--black700);
  z-index: 2;
  .sect_inner {
    margin: auto;
    .filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-weight: 300;
      }
      ul {
        padding: 5px;
        border-radius: 10px;
        background: #ddd;
        position: relative;
        display: flex;
        gap: 2px;
        .this-filter {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          height: 80%;
          background-color: #000000;
          border-radius: 8px;
          transition: 0.3s ease-in-out;
          z-index: 0;
        }
        li {
          button {
            border: none;
            background: transparent;
            display: inline-block;
            border-radius: 10px;
            color: #999;
            font-weight: 300;
            position: relative;
            z-index: 2;
            transition: 0.3s ease-in-out;
            &.on {
              color: #fff;
              font-weight: 500;
            }
          }
        }
      }
    }
    .item-box {
      .item {
        border-radius: 20px;
        background: #fff;
        position: relative;
        // will-change: max-height;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        &:hover {
          outline: 1px solid #333;
        }
        &.on {
          outline: 1px solid #333;
          box-shadow: 0 2px 15px #00000010;
          .title {
            h4 {
              // padding-left: 20px;
              // font-weight: 800;
              &::after {
                width: 110%;
                opacity: 1;

              }
            }
            .plus-icon {
              transform: rotate(45deg);
            }
          }
          .info {
            max-height: auto;
            .img-box{
              opacity: 1;
              transition: .3s;
              transition-delay: .2s;
              // transition: .2s;
              display: block;
            }
            .view-btn{
              opacity: 1;
            }
          }
        }
        .title {
          @include flex-c(space-between);
          transition: 0.3s;
          h4 {
            font-weight: 600;
            position: relative;
            transition: 0.3s ease;
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: -5px;
              transform: translateY(-50%);
              height: 10px;
              width: 0;
              background: #bef264;
              // background: #c3ff00;
              // background: #FFFF00;
              // opacity: 0;
              transition: 0.3s ease;
              mix-blend-mode: multiply;
            }
            span {
              font-weight: 300;
              color: #999;
            }
            a {
              display: inline-block;
              @include flex-c();
            }
          }
          .plus-icon {
            @include flex-c();
            transform: rotate(0);
            transition: 0.3s;
            span {
              width: 100%;
              height: 2px;
              position: relative;
              background: #333;
              border-radius: 10px;
              &::after {
                content: "";
                position: absolute;
                transform: rotate(90deg);
                width: 100%;
                height: 2px;
                background: #333;
                border-radius: 10px;
              }
            }
          }
        }
        .info {
          padding-top: 0;
          max-height: 0;
          width: 100%;
          overflow: hidden;
          transition: 0.3s;
          // position: relative;
          .img-box {
            // border: 1px solid #000;
            position: absolute;
            transform-origin: center;
            display: none;
            pointer-events: none;
            &:hover{
              transform: rotate(-40deg);
            }
            img {
              width: 100%;
            }
          }
          .txt {
            font-weight: 200;
          }
          .filter-tag {
            @include flex-c(space-between);
            height: auto;
            ul {
              display: flex;
              li {
                color: #999;
                border-radius: 20px;
                background: rgba(0, 0, 0, 0.05);
                text-transform: uppercase;
              }
            }
          }
          a.view-btn {
            border: 1px solid #000;
            position: absolute;
            bottom: 15%;
            right: -40px;
            font-size: 20px;
            z-index: 10;
            padding: 10px 20px;
            border-radius: 50px;
            background: #111;
            color: #fff;
            transform: rotate(23deg);
            opacity: 0;
            transition: opacity .3s;
            // &::after {
            //   content: "";
            //   position: absolute;
            //   bottom: 0;
            //   left: 50%;
            //   width: 0;
            //   height: 0;
            //   border: 10px solid transparent;
            //   border-top-color: #ce2828;
            //   border-bottom: 0;
            //   border-left: 0;
            //   margin-left: 5px;
            //   margin-bottom: -10px;
            // }
            // a {
            //   display: inline-block;
            //   svg {
            //     display: none;
            //     stroke: #333;
            //   }
            // }
          }
          .date {
            color: #999;
            display: none;
          }
        }
      }
    }
  }
}

// // ***************************************************************************************************************************
// 모바일에서는 호버가 힘드니 호버가 없다고 생각하고 만들 것
@media only screen and (max-width: 700px) {
  #work {
    padding: 6rem 2rem;
    .sect_inner {
      .filter {
        margin-top: 40px;
        flex-direction: column;
        p {
          display: none;
          font-size: 6vw;
          margin-bottom: 10px;
        }
        ul {
          li {
            button {
              padding: 5px 15px;
              font-size: 4vw;
            }
          }
        }
      }
      .item-box {
        margin-top: 40px;
        // gap: 20px;
        .left {
          .item:nth-child(4) {
            margin-bottom: 10px;
          }
        }
        .item {
          padding: 30px 20px;
          .left,
          .right {
            width: 100%;
          }
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          &.on {
            .title {
              margin-bottom: 20px;
            }
            // .info {
            //   max-height: auto;
            // }
          }
          .title {
            h4 {
              font-size: clamp(16px, 20px, 24px);
              a {
                padding: 10px 0;
                gap: 10px;
                span {
                  font-size: 4vw;
                }
              }
            }
            .plus-icon {
              width: 40px;
              height: 40px;
              padding: 10px;
            }
          }
          .info {
            padding-top: 0;
            max-height: 0;
            .txt {
              font-size: clamp(14px, 16px, 18px);
              margin-bottom: 40px;
            }
            .img-box {
              border: 1px solid #000;
              margin-bottom: 20px;
            }
            .filter-tag {
              ul {
                gap: 8px;
                li {
                  font-size: 3vw;
                  padding: 6px 14px;
                }
              }
              a {
                padding: 6px 14px;
                border-radius: 20px;
                background: #111;
                color: #fff;
                font-size: 3vw;
              }
            }
            .date {
              font-size: 3vw;
            }
          }
        }
      }
    }
  }
}
//----------------------------------------------------------------------
@media only screen and (min-width: 701px) {
  #work {
    padding: 6rem 0 12rem;
    .sect_inner {
      max-width: 95%;
      .filter {
        // margin-top: 40px;
        p {
          font-size: 2rem;
        }
        ul {
          li {
            button {
              padding: 5px 20px;
              font-size: 2rem;
            }
          }
        }
      }
      .item-box {
        margin-top: 40px;
        display: flex;
        gap: 20px;
        .left,
        .right {
          width: calc(50% - 10px);
        }
        .item {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          &.on {
            padding-bottom: 30px;
            .title {
              .plus-icon {
                transform: rotate(45deg);
              }
            }
            .info {
              padding: 0 30px;
            }
          }
          .title {
            padding: 30px;
            h4 {
              font-size: 2rem;
              a {
                padding: 10px 0;
                gap: 10px;
              }
            }
            .plus-icon {
              width: 40px;
              height: 40px;
              padding: 10px;
            }
          }
          .info {
            .img-box {
              right: -8%;
              bottom: -22%;
              width: 56%;
              transform: rotate(-34deg);
              z-index: 10;
            }
            .txt {
              font-size: 16px;
              margin-bottom: 40px;
              width: 60%;
            }
            .filter-tag {
              ul {
                display: flex;
                gap: 4px;
                li {
                  font-size: 14px;
                  padding: 6px 20px;
                }
              }
            }
            .date {
              font-size: 16px;
              display: none;
            }
          }
        }
      }
    }
  }
}
//----------------------------------------------------------------------
// @media only screen and (min-width: 1000px) {
// }
// //----------------------------------------------------------------------
@media only screen and (min-width: 1400px) {
  #work {
    padding: 6rem 0 12rem;
    .sect_inner {
      max-width: 1380px;
      height: auto;
      .item-box {
        margin-top: 40px;
        .item {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          .title {
            padding: 40px 30px;
            h4 {
              font-size: 2.4rem;
              a {
                padding: 10px 0;
                gap: 10px;
              }
            }
            .plus-icon {
              width: 40px;
              height: 40px;
              padding: 10px;
            }
          }
          // .info {
          //   // display: flex;
          //   .img-box {
          //     height: 10px;
          //   }
          // }
        }
      }
    }
  }
}
