#work {
  border-bottom: 1px solid var(--main-color);
  .work_header,
  .work_item {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    .desc {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .work_header {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    text-transform: uppercase;
  }
  #workList {
    li {
      padding: 8px;
      &:hover {
        background: rgba($color: #0073ff, $alpha: 0.1);
        color: var(--main-color);
        font-weight: 600;
      }
    }
    span {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 700px) {
  #work {
    .work_header,
    .work_item {
      gap: 4px;
      font-size: 15px;
      .desc {
        width: 120px;
      }
    }
    .work_header {
      padding: 8px 6px;
    }
    #workList {
      li {
        padding: 6px;
      }
    }
  }
}
// ---------------------------
@media only screen and (min-width: 701px) {
  #work {
    margin-top: 100px;
    .work_header,
    .work_item {
      gap: 5px;
      font-size: 16px;
    }
    .work_header {
      padding: 10px 6px;
    }
    #workList {
      li {
        padding: 8px;
      }
    }
  }
  .desc {
    width: 230px;
  }
}
// ---------------------------
@media only screen and (min-width: 1200px) {
  #work {
    margin-top: 120px;
  }
}
